@import "../assets/style/variables"
.loadingBox
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.btn-success
    background-color: $wood_dark !important
    border-color: $wood_dark !important

.btn-success.disabled, .btn-success:disabled
    background-color: $wood_dark !important
    border-color: $wood_dark !important
