@import '../../../assets/style/index'

.box
    width: 100%
    height: auto


.boxRating
    margin: 2rem 0
    display: flex
    justify-content: flex-start
    align-items: center

    > p
        margin-left: 1rem

.boxShortDescription
    margin-bottom: 5rem

.boxAction
    display: flex
    justify-content: flex-start
    align-items: center

    > div
        &:nth-child(2)
            margin-left: 4rem

.boxWishlist
    margin-top: 2rem
    height: 4rem

    display: flex
    justify-content: flex-start
    align-items: center

    > div
        height: 100%

        &:nth-child(1)
            $size: 2rem
            width: $size
            height: $size

        &:nth-child(2)
            margin-left: 1.5rem

            > h3
                line-height: 4.5rem


.boxInfo
    margin-top: 5rem