@import '../../assets/style/index'
.footer
    width: 100%
    background-color: $blue

    &__content
        width: $max_width
        margin: 0 auto
        padding: 10px 5px

        display: flex
        justify-content: space-between
        font-size: 12px

    &__legal


    &__text
        color: $black
        margin-left: 10px

    &__link
        color: $black
        margin-left: 10px

        &:nth-child(1)
            margin-left: 0

        &:hover, &--active
            color: $black
            border-bottom: 1px solid $black
