<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index, follow">
    <meta name="description" content="AforC | Demo presentation about our vision of a virtual services provider | Web design and web development business">
    <link rel="stylesheet" href="/css/pdf/style.css">
    <title>Demo Presentation | Nova</title>
</head>
<body>
    <div class="pdf">
        <div class="pdf__item pdf__item--1">
            <img src="/img/pdf/nova.png" alt="Web design virtual | AforC" class="pdf__img">
        </div>
    </div>
</body>
</html>