@import '../../../../assets/style/index'

.box
    width: 54%
    height: auto
    margin-top: 2.5rem

    > div
        margin-top: 2.5rem

        &:nth-child(1)
            margin-top: 0

    @include md
        width: 100%

.boxTitle
    width: 100%
    text-align: center

    > h1
        font-size: 3rem

.boxItem
    width: 100%
    height: auto

    > div
        padding: 1rem 1.5rem


.boxGroup
    display: flex
    justify-content: space-between
    align-items: center

    > div
        width: 45%


.boxButton
    width: 100%
    height: auto

    margin-top: 2.5rem

.boxBorder
    border-color: $gold