@import "../../../../../assets/style/index"

.box
    margin-top: 2.5rem
    display: flex
    justify-content: flex-start
    align-items: center

    > div
        margin-left: 2rem

        &:nth-child(1)
            margin-left: 0