@import '../../../../../assets/style/index'


.box
    width: 100%
    height: auto

.boxInfo
    margin-bottom: 1.25rem
    display: flex
    justify-content: space-between
    align-items: center

.boxLink
    position: relative
    text-transform: uppercase

    &:before
        content: ''
        width: 85%
        height: 100%
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        border-bottom: .1rem solid $black


.boxProducts

    > div
        margin-top: 1.5rem

        &:nth-child(1)
            margin-top: 0