// CCOLORS -- BASE
$primary: #f39100;

$dark: #171818;
$light: #2d2e32;

$grey: #707070;

$lightgrey: #e2e2e2;
$white: #ececec;

$header: #171818;





// Matterport color

$mattercolor: #27292D;

// FONTS

$font-1: 'EB Garamond', serif;
$font-2: 'PT Sans Narrow', sans-serif;