@import '../../../assets/style/index'

.box
    width: 100%
    height: auto
    background-color: $light_grey

    padding: 1.25rem

    border-radius: $radius

.boxTitle
    padding-bottom: 1.25rem
    border-bottom: .1rem solid $black

.boxComponent
    padding-top: 1.25rem