@import '../../../assets/style/index'

.showcase
    width: 100%
    height: auto

    &__title
        width: 100%
        height: 100px
        background-color: $purple

        display: flex
        justify-content: center
        align-items: center

        position: relative