@import '../../assets/style/index'

.box
    width: 100%
    min-height: 100vh
    //min-height: 700px
    //max-height: 900px

    background-color: rgba(red, .2)


.boxContent
    width: $standard_max_width
    height: auto
    margin: 0 auto

    background-color: rgba($black, .3)