@import '../../assets/style/index'


.boxChild
    width: 100%
    height: auto

    margin: 1rem 0 3rem 0

.boxInfo
    padding-bottom: 1rem

    display: flex
    justify-content: flex-end
    align-items: center

.boxPages
    display: flex
    //justify-content: center
    align-items: center

.page
    $size: 3rem
    color: $black
    width: $size
    height: $size
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer

    &:nth-child(1)
        margin-left: 0

    &:hover
        color: $dark_grey

.pageChange
    $size: 4rem
    width: $size
    height: $size
    padding: 1.25rem

    > span
        $size: 1.25rem
        margin-top: calc(#{$size} / 2)
        height: $size
        width: $size

.current
    color: $dark_grey