@import '../../../../assets/style/index'

.box
    width: 100%

    > div
        width: auto
        height: auto

        display: flex
        justify-content: center
        align-items: center
        color: $light_black

        &:hover
            color: $orange
