@import '../../../../assets/style/index'

.box
    width: 100%
    height: 100%

.filters
    width: 100%
    height: auto

.boxBulkDelete
    width: 100%
    height: auto

    display: flex
    justify-content: flex-end

    padding: 1.5rem 0