@import '../../../assets/style/index'

.box
    width: 100%
    height: 100vh
    min-height: 60rem
    max-height: 80rem

    display: flex
    justify-content: flex-start
    align-items: center


.grid
    display: grid
    grid-template-columns: 65% 35%
    grid-template-rows: 1fr

    > div
        grid-column: 1
        grid-row: 1