@import '../../assets/style/variables'
.navbarComponent
    width: $width
    height: 8vh
    min-height: 50px
    margin: 10px auto

    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end

    @include lg
        width: 100%


    &__options
        margin-right: 5%

.profileIcon
    height: 25px

    @include lg
        height: 35px

.btn-link
    color: $wood_light !important
