@import '../../../../assets/style/index'

.box
    width: 100%
    height: 50px

    display: flex
    justify-content: flex-start
    align-items: center

.link
    color: $dark_grey
    font-size: 14px
    text-decoration: underline