@import '../../assets/style/index'

.box
    position: relative

.boxContent
    width: 100%
    height: 7.5rem

    display: grid
    grid-template-columns: 25% 1fr auto
    grid-gap: 2.5rem

    > div
        display: flex
        align-items: center
