@import '../../../../../assets/style/index'

.boxTitle
    display: grid
    grid-template-columns: 15% 20% 25% 15% 25%

    height: 5rem
    background-color: $grey

    > div
        display: flex
        justify-content: center
        align-items: center
