.button
    width: auto
    height: auto
    border: none
    outline: none
    color: $black

    background-color: $skin
    padding: 1rem 3rem
    border-radius: $radius

    &:focus,
    &::-moz-focus-inner
        outline: none

.buttonEmpty
    background-color: transparent
    border: .1rem solid $skin

.buttonLong
    width: 100%

.buttonOrange
    background-color: $orange
