@import "../breakpoints"
@import "../variables"

$columns: 12

div[class^="col-"],
div[class="box"],
div[class="boxContent"]
    //background-color: rgba(red, .2)
    //border: .1rem solid black
    position: relative

.row
    display: flex
    flex-direction: row
    flex-wrap: wrap

@for $i from 1 through $columns
    .col-#{$i}
        flex: 0 0 calc(100% / #{$columns} * #{$i})

@include md
    @for $i from 1 through $columns
        .col-md-#{$i}
            flex: 0 0 calc(100% / #{$columns} * #{$i})

.box
    width: 100%
    height: auto

.boxContent
    width: $max_width
    margin: 0 auto

.productsGrid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: $products_gap