@import '../../assets/style/index'

$laptop_margin: 7.5rem

.box
    width: 100%
    height: 100%

    > section
        width: 100%
        height: auto
        //background-color: rgba(red, .2)
        //border-bottom: .2rem solid $black

.boxTop
    margin-top: $laptop_margin

.boxTopAndBottom
    margin: $laptop_margin 0

.boxBottom
    margin-bottom: $laptop_margin

