<div class="row justify-content-center mt-5">
  <div class="col col-10">
    <button class="btn btn-primary btn-block" (click)="createModal(createcontent)">
      Create Product
    </button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Category</th>
        <th scope="col">Details</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th scope="row">{{ product.productId }}</th>
          <td>
            {{ product.name }}
          </td>
          <td>{{ product.price }}</td>
          <td (click)="quantityModal(quantitycontent, product)">{{ product.Quantities[0].quantity }}</td>
          <td>{{ product.category }}</td>
          <td>
            <div>
              <button class="btn btn-success btn-sm btn-block" (click)="imageModal(imagecontent, product)">Images</button>
            </div>
            <div>
              <button class="btn btn-light btn-sm btn-block" (click)="detailModal(detailscontent, product)">Details</button>
            </div>
            <div>
              <button class="btn btn-info btn-sm btn-block" (click)="detai(product.productId)">Specs</button>
            </div>
          </td>
          <td>
            <div>
              <button class="btn btn-danger btn-sm btn-block" (click)="delete(product.productId)">Delete</button>
            </div>
            <div>
              <button class="btn btn-success btn-sm btn-block" (click)="editModal(editcontent, product)">Edit</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--Modal Edit product-->
<ng-template #editcontent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit {{product.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" formControlName="price">
      </div>
      <div class="form-group">
        <label>Category</label>
        <input type="email" class="form-control" formControlName="category">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="edit(editForm); d('Cross click')">Save</button>
  </div>
</ng-template>


<!--Modal Create product-->
<ng-template #createcontent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createForm">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" formControlName="price">
      </div>
      <div class="form-group">
        <label>Category</label>
        <input type="email" class="form-control" formControlName="category">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="create(createForm); d('Cross click')">Save</button>
  </div>
</ng-template>


<!--Modal product's Images-->
<ng-template #imagecontent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create Images form {{product.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="imageForm">
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile04" (change)="onFileChange($event)" #fileInput>
          <label class="custom-file-label" for="inputGroupFile04"> {{imageForm.value.image ? imageForm.value.image.name : 'Choose file'}}</label>
        </div>
        <div class="input-group-append">
          <button *ngIf="imageForm.value.image !== null"
                  class="btn btn-outline-secondary" (click)="createImage(imageForm, product); d('Cross click')">Save</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row mt-3">
      <div class="col" *ngFor="let image of product.Images">
        <img [src]="'http://localhost:8000/' + image.image" alt="..." class="img-thumbnail">
        <button class="btn btn-danger btn-block btn-sm" (click)="deleteImage(image); d('Cross click')">Delete</button>
      </div>
    </div>
  </div>
</ng-template>

<!--Details Modal-->
<ng-template #detailscontent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add details to {{product.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="detailForm">
      <div class="form-group">
        <label for="exampleFormControlTextarea3">Rounded corners</label>
        <textarea class="form-control" id="exampleFormControlTextarea3" rows="7" formControlName="text"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="detail(detailForm, product); d('Cross click')">Save</button>
  </div>
</ng-template>

<!--Quantity Modal-->
<ng-template #quantitycontent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add details to {{product.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="quantityForm">
      <div class="form-group">
        <label>Quantity:</label>
        <input type="number" class="form-control" formControlName="quantity">
      </div>
      <div class="form-group" *ngIf="quantityForm.value.less !== true">
        <label class="mr-2">Add</label>
        <input type="checkbox" formControlName="more">
      </div>
      <div class="form-group" *ngIf="quantityForm.value.more !== true">
        <label class="mr-2">Remove</label>
        <input type="checkbox" formControlName="less">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="quantity(quantityForm, product); d('Cross click')">Save</button>
  </div>
</ng-template>
