@import '../../../../../assets/style/index'
@import '../common'

.boxTitle
    display: grid
    grid-template-columns: $grid_columns

    height: 5rem
    background-color: $grey

    > div
        display: flex
        justify-content: center
        align-items: center
