@import '../../../../assets/style/index'

.box
    width: 30rem
    height: auto

.boxItems
    width: 100%
    max-height: 30rem
    overflow-y: auto

    > div
        margin-top: 1.5rem

        &:nth-child(1)
            margin-top: 0

.boxTotal
    margin-top: 1rem
    border-top: .1rem solid $black
    padding-top: 1.5rem

.boxActions
    margin-top: 1.5rem

