@import '../../assets/style/index'

.box
    width: 100%
    height: auto
    //padding-top: $header_height

    > section
        //background-color: rgba(red, .2)
        //border-bottom: .2rem solid $black

.shop
    margin: 7.5rem 0
