@import '../../assets/style/index'

.box
    width: 100%
    height: auto

    padding-top: $header_height
    padding-bottom: 75px

.boxContent
    width: 100%
    max-width: $standard_max_width
    height: auto
    margin: 0 auto

.product
    width: 100%
    height: auto
    padding-top: 5rem
    padding-bottom: 10rem

.tabs
    width: 100%
    height: auto
    padding-bottom: 7.5rem


.relatedProducts
    width: 100%
    height: auto

.relatedProductsTitle
    padding-bottom: 2.5rem

    > h1
        font-size: 3rem


.relatedProductsContent
    width: 100%
    height: auto

