@import '../../../../../assets/style/index'
$table_border: .1rem solid $dark_grey

.box
    background-color: $grey
    padding: 1rem 2rem
    border: $table_border

    > span
        margin-left: 2rem

        &:nth-child(1)
            margin-left: 0