.primary {
    color: $primary;
}

.black {
    color: $black;
}

.blue {
    color: $blue;
}

.first {
    font-size: 3rem;
}

.first--uppercase {
    font-size: 3.5rem;
}

.rotate {
    transform: rotate(45deg);
}

.width {
    max-width: 100%;
}

.tag {
    position: absolute;
    top: -6rem;
    left: 50%;
    transform: translateX(-50%);
}