.navigation {
 

    &__nav {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 1;
        visibility: hidden;
        background-color: rgba($primary, .9);
        // visibility: hidden;
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center; 
        
    }

  
    &__link {
        &:link,
        &:visited{
        display: inline-block;
        font-size: 3rem;
        font-weight: 400;
        padding: 1rem 2rem;
        color: $dark-grey;        
        text-transform: uppercase;
        text-decoration: none;

        @include respond(1000) {
            font-size: 2.5rem;
        }

        @include respond(768) {
            font-size: 2rem;
        }

        @include respond(500) {
            font-size: 1.5rem;
        }

        @include respond(375) {
            font-size: 1.3rem;
        }

        } 
    }
}

#end {
    cursor: pointer;
    font-size: 5rem;
    position: fixed;
    right: 3rem;
    top: 0rem;
    color: $dark-grey;
    transition: all .4s;
    backface-visibility: hidden;

    &:hover {
        transform: rotate(90deg);
    }
}

@keyframes right {
    0% {opacity: 0; margin-left: -50% }
    25% {opacity: .25; margin-left: -40% }
    50% {opacity: .5; margin-left: -30% }
    75% {opacity: .75; margin-left: -20% }
    100% {opacity: 1; margin-left: 0; }
}

@keyframes left {
    0% {opacity: 1; transform: translateX(-50%)  }
    25% {opacity: .75; transform: translateX(-40%) }
    50% {opacity: .5; transform: translateX(-30%) }
    75% {opacity: .25; transform: translateX(-20%) }
    100% {opacity: 0; transform: translateX(0%) }
}

