*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    // box-sizing: inherit;
}

html {
    //This defines what 1rem is
    font-size: 62.5%; 
    height: 100%;
    width: 100%;

    @include respond(1799) { 
        font-size: 55%;
    }


    @include respond(1100) {
        font-size: 50%; 
    }
   
    @include respond(550) {
        font-size: 40%; 
    }
}


body {
    box-sizing: border-box;     
    background-color: $dark;
   
}