<% include partials/restaurant-header %>

<header class="nav bold">
    <li class="nav__link">our food</li>
    <li class="nav__link">menu</li>
    <li class="nav__link">about us</li>
    <img src="../../img/restaurant/logo/logo.png" alt="" class="nav__logo">
    <li class="nav__link">contact</li>
    <li class="nav__link">reservation</li>
    <li class="nav__link">delivery</li>
</header>
 
<!-- <section class="hero" style="background-image: url(../../img/restaurant/background/background-1.jpg) ">  -->
<section class="landing" style="background-image: url(../../img/restaurant/background/background-1.jpg)">
    <!-- <img src="../../img/restaurant/background/background-1.jpg" alt="" class="landing__background"> -->
    <div class="hero">
    
    
    <!-- <img src="../../img/restaurant/food/dreapta-jo.png" alt="" class="hero__2 hero__all"> -->
    <!-- <img src="../../img/restaurant/food/platou-.png" alt="" class="hero__3 hero__all"> -->
    
    <div class="hero__food">
        <img src="../../img/restaurant/food/ramen.png" alt="" class="hero__ramen hero__all">
        <img src="../../img/restaurant/food/soja.png" alt="" class="hero__soja hero__all">
        <img src="../../img/restaurant/food/leaf.png" alt="" class="hero__leaf hero__all">

        <div class="hero__box">
            <img src="../../img/restaurant/food/drt.png" alt="" class="hero__1 hero__all">
            <img src="../../img/restaurant/food/stanga.png" alt="" class="hero__2 hero__all">
            <img src="../../img/restaurant/food/sushi-3.png" alt="" class="hero__3 hero__all">  
            <img src="../../img/restaurant/food/sushi-1.png" alt="" class="hero__4 hero__all">
            <img src="../../img/restaurant/food/somon-1.png" alt="" class="hero__5 hero__all">
            <img src="../../img/restaurant/food/sushi-platou-2.png" alt="" class="hero__6 hero__all">
            <img src="../../img/restaurant/food/sushi-platou.png" alt="" class="hero__7 hero__all">
            <!-- <img src="../../img/restaurant/food/sushi-platou.png" alt="" class="hero__3 hero__all"> -->
            <img src="../../img/restaurant/logo/name.png" alt="" class="hero__name">
            <h3 class="hero__cite hero__cite--primary">
                Let us take you...
            </h3>
            <h3 class="hero__cite hero__cite--secondary bold">
                Where it all begins
            </h3>
            <!-- <img src="../../img/restaurant/icons/down-arrow.png" alt="" class="hero__down"> -->
            <svg class="hero__down">
                <use xlink:href="#down"></use>
            </svg>
        </div>
    </div>
 
   
    </div>
    <div class="break break--left big--margin-top">
        <div class="break__box break__box--left">
            <img src="../../img/restaurant/logo/horizontal-gold.png" alt="" class="break__line break__line--left">
            <p class="break__num">1</p>
        </div>
    </div>

    <div class="intro">
        <img src="../../img/restaurant/logo/cho.png" alt="" class="intro__left hero__all">
        <div class="intro--box">

            <h3 class="intro__title fancy">
            <span class="first--big">W</span>elcome in <span class="first--big">A</span>san
            </h3>
            <div class="intro__box">
                <p class="intro__paragraph">
                    <span class="firsts--big italic">Since 1997'</span> dolor sit amet, 
                </p>
                <p class="intro__paragraph">
                        consectetur 
                        adipisicing elit. Dolorum ullam, iusto eos modi vel eius animi quidem nemo dicta 
                        rem similique ea eum mollitia magnam facere impedit accusantium! Eos, incidunt?
                        rem similique ea eum mollitia magnam facere impedit accusantium! Eos, incidunt?
                </p>
                <img src="../../img/restaurant/food/intro-sushi-2.jpg" alt="" class="intro__1">
                <img src="../../img/restaurant/food/intro-sushi.jpg" alt="" class="intro__2">
                
            </div>
        </div>
    </div>
    <!-- <div class="intro--break">&nbsp;</div> -->
</section>

<section class="menu--section"  style="background-image: url(../../img/restaurant/background/meniu-background.jpg)">
    <div class="break break--right menu--margin">
        <div class="break__box break__box--right">
            <img src="../../img/restaurant/logo/horizontal-gold.png" alt="" class="break__line break__line--right">
            <p class="break__num">2</p>
        </div>
    </div>
<div class="menu">
   
        
        <h3 class="menu__heading fancy heading--biggest">
            <span class="first--big">M</span>enu
        </h3>
        <div class="menu__row">
            <h3 class="menu__heading heading--big">
                What we have for 
            </h3>
            <img src="../../img/restaurant/logo/you.png" alt="" class="menu__you">
            <h3 class="menu__heading heading--big"> .</h3>
        </div>

        <div class="menu__container">
            <div class="menu__box">
                <div class="menu__side">
                <img src="../../img/restaurant/logo/vertical-gold.png" alt="" class="menu__line">
                <div class="menu__parabox">
                <p class="menu__paragraph">
                    traditional
                    <p class="menu__paragraph">
                        sushi made
                    </p> 
                    <p class="menu__paragraph">with <span class="fancy">passion</span> </p>
                    <p class="menu__paragraph"> and <span class="fancy">love</span> </p>
                </p>
                </div>
                <img src="../../img/restaurant/logo/vertical-gold.png" alt="" class="menu__line">
             </div>
                <img src="../../img/restaurant/food/menu-1.jpg" alt="" class="menu__photo">
            </div>

            <div class="menu__box">
                <div class="menu__side">
                <img src="../../img/restaurant/logo/vertical-gold.png" alt="" class="menu__line">
                <div class="menu__parabox">
                <p class="menu__paragraph">hot ramen</p>
                    <p class="menu__paragraph">
                        to <span class="fancy">warm up</span>
                    </p> 
                    <p class="menu__paragraph">on <span class="fancy">cold days</span> </p>
                    
                </div>
                <img src="../../img/restaurant/logo/vertical-gold.png" alt="" class="menu__line">
             </div>
                <img src="../../img/restaurant/food/menu-2.jpg" alt="" class="menu__photo">
            </div>

            <div class="menu__box">
                <div class="menu__side">
                <img src="../../img/restaurant/logo/vertical-gold.png" alt="" class="menu__line">
                <div class="menu__parabox">
                <p class="menu__paragraph">
                    dim sum,
                    <p class="menu__paragraph">
                        <span class="fancy">"touch the</span>
                    </p> 
                    <p class="menu__paragraph"><span class="fancy"> hearth" </span>no</p>
                    <p class="menu__paragraph"> matter the</p>
                    <p class="menu__paragraph"><span class="fancy">weather</span></p>
                </p>
                </div>
                <img src="../../img/restaurant/logo/vertical-gold.png" alt="" class="menu__line">
             </div>
                <img src="../../img/restaurant/food/menu-3.jpg" alt="" class="menu__photo">
            </div>
        </div>

        <div class="menu__button--line">
        <a href="#" class="menu__button italic">
            Discover More  
        </a>
        </div>
    </div>
</section>

<section class="chef--section" style="background-image: url(../../img/restaurant/background/background-1.jpg)">
    <div class="break break--left chef--margin">
        <div class="break__box break__box--left">
            <img src="../../img/restaurant/logo/horizontal-gold.png" alt="" class="break__line break__line--left">
            <p class="break__num">3</p>
        </div>
    </div>
    <div class="chef">
    <img src="../../img/restaurant/logo/ch1o.png" alt="" class="ch1o">
    <h3 class="chef__heading fancy heading--biggest"><span class="first--big">C</span>hef's <span class="first--biggest">D</span>alip <span class="first--biggest">S</span>pecial</h3>
    <div class="chef__bar">
        <img src="../../img/restaurant/chef/chef.png" alt="" class="chef__1">
        <img src="../../img/restaurant/chef/chef-2.jpg" alt="" class="chef__2">
        <img src="../../img/restaurant/chef/chef-sign.png" alt="" class="chef__sign">
    </div>
    <div class="chef__blank">&nbsp;</div>
    <div class="chef__bar chef__bar--transparent">
        <img src="../../img/restaurant/chef/chef-sign-3.png" alt="" class="chef__sign-3">
        <div class="chef__semibar">
                <img src="../../img/restaurant/chef/chef-sign-2.png" alt="" class="chef__sign-2">
            <img src="../../img/restaurant/chef/chef-3.jpg" alt="" class="chef__3">
            <img src="../../img/restaurant/chef/chef-4.jpg" alt="" class="chef__4">
        </div>
            
    </div>
    
</div>

<!-- Meat with paragraphs -->

<div class="chef__blank">
    <img src="../../img/restaurant/logo/ch3o.png" alt="" class="ch3">
</div>
<div class="chef__transparent-bar chef__transparent-bar--margin-top">
    <img src="../../img/restaurant/chef/chef-5.jpg" alt="" class="chef__5">
    <div class="chef__parabox">
    <p class="chef__paragraph">
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsa molestiae 
        quam saepe perspiciatis qui neque vitae, harum sunt fugit 
        assumenda pariatur! Nulla culpa distinctio ea veritatis reiciendis impedit corporis!"
    </p>
    <p class="fancy chef__paragraph--big chef__paragraph--sign">
        Mao Le Tan
    </p>
</div>
</div>

<div class="chef__transparent-bar">
    <img src="../../img/restaurant/chef/chef-sign-4.png" alt="" class="chef__sign-4">
    <div class="chef__parabox--second">
    <p class="chef__paragraph chef__paragraph--padding">
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsa molestiae 
        quam saepe perspiciatis qui neque vitae."
    </p>
    <p class="fancy chef__paragraph--big chef__paragraph--sign">
        Mao Le Tan
    </p>
</div>
<div class="chef__imgbox">
    <img src="../../img/restaurant/chef/chef-6.jpg" alt="" class="chef__6">
</div>

</div>
<div class="blank--small">&nbsp;</div>

<!-- Something sweet -->

<div class="extra">
    <div class="extra__title">
        <div class="extra__title-line">&nbsp;</div>
        <h3 class="extra__title-space fancy heading--biggest">
            <span class="first--big">S</span>omething sweet along the way
        </h3>
        <div class="extra__title-line">&nbsp;</div>
    </div>
    <div class="blank--small">&nbsp;</div>
    <div class="chef__transparent-bar extra__bar">
        <div class="extra__box">
            <img src="../../img/restaurant/chef/extra-1.jpg" alt="" class="extra__1">
            <img src="../../img/restaurant/chef/sign-5.png" alt="" class="extra__sign-1">
        </div>
        <img src="../../img/restaurant/chef/extra-2.jpg" alt="" class="extra__2">
        <img src="../../img/restaurant/chef/sign-6.png" alt="" class="extra__sign-2">  
    </div>
    <div class="extra__text">
        <p class="extra__paragraph italic">
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, provident.
        </p>
        <p class="extra__paragraph italic">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit."
        </p>
        <h3 class="fancy extra__heading">
            Enrico Fermi
        </h3>
    </div>
</div>
<!-- <div class="chef__blank">&nbsp;</div> -->
</section>

<section class="friday--section" style="background-image: url(../../img/restaurant/background/background-2.jpg)">
    <div class="break break--right friday--margin">
        <div class="break__box break__box--right">
            <img src="../../img/restaurant/logo/horizontal-gold.png" alt="" class="break__line break__line--right">
            <p class="break__num">4</p>
        </div>
    </div>
<div class="friday">
    <img src="../../img/restaurant/logo/ch4o.png" alt="" class="ch4">

    <div class="friday__content">
        <h3 class="heading--biggest friday__title">Fridays</h3>
        <h3 class="fancy heading--biggest friday__title">Drinks on the house</h3>
    <div class="friday__box">
        <div class="friday__1">
            <img src="../../img/restaurant/logo/vertical-gold.png" alt="" class="friday__line">
            <p class="fancy friday__paragraph">Wild or</p>
            <img src="../../img/restaurant/logo/vertical-gold.png" alt="" class="friday__line">
            <img src="../../img/restaurant/chef/wild.jpg" alt="" class="friday__img">
        </div>

        <div class="friday__1">
            <img src="../../img/restaurant/logo/vertical-gold.png" alt="" class="friday__line">
            <p class="fancy friday__paragraph">Nice</p>
            <img src="../../img/restaurant/logo/vertical-gold.png" alt="" class="friday__line">
            <img src="../../img/restaurant/chef/naughty.jpg" alt="" class="friday__img">
        </div>
    </div>
</div>
</div>

<div class="app">
    <div class="break break--left app--margin">
        <div class="break__box break__box--left">
            <img src="../../img/restaurant/logo/horizontal-gold.png" alt="" class="break__line break__line--left">
            <p class="break__num">5</p>
        </div>
    </div>
    <div class="app__content">
        <h3 class="fancy app__heading">Enjoy your favorite food in the warmth of your home</h3>
        <div class="app__bar">
        <h3 class="app__heading-second">
            Order Delivery
        </h3>
        <img src="../../img/restaurant/logo/vertical-gold.png" alt="" class="app__line">
        <div class="app__box-paragraph">
            <p class="app__paragraph">
                We wanted to make it easier for you. Install our App from android Playstore and enjoy our gifts, promotions and much more.
            </p>
        </div>
        
        <img src="../../img/restaurant/logo/vertical-gold.png" alt="" class="app__line">

            <a href="#" class="app__button--link bold">Install Now</a>

            <img src="../../img/restaurant/chef/app-1.jpg" alt="" class="app__1">
        </div>

    </div>
</div>
</section>

<section class="reservation--section-full" style="background-image: url(../../img/restaurant/background/background-1.jpg)">
<div class="reservation--section" style="background-image: url(../../img/restaurant/background/background-3.png)">
    <div class="break break--right reservation--margin">
        <div class="break__box break__box--right">
            <img src="../../img/restaurant/logo/horizontal-gold.png" alt="" class="break__line break__line--right">
            <p class="break__num">6</p>
        </div>
    </div>
    <div class="reservation">
        <h3 class="fancy heading--biggest reservation__title">
            <span class="first--big">G</span>et yourself a table for a new journey
        </h3>
        <div class="reservation__box">
            <h3 class="reservation__heading">
                Make
            </h3>
            <h3 class="reservation__heading black">
                Reservation
            </h3>
        </div>
    </div>

</div>
</section>

<section class="contact--section" style="background-image: url(../../img/restaurant/background/background-4.jpg)">
<div class="contact">
    <div class="contact__image-box">
    <img src="../../img/restaurant/background/map.png" alt="" class="contact__map">

    <!-- PINS -->
    
    <svg class="pin pin-1">
    <use xlink:href="#pin"></use>
    </svg>

    <svg class="pin pin-2">
    <use xlink:href="#pin"></use>
    </svg>

    <svg class="pin pin-3">
    <use xlink:href="#pin"></use>
    </svg>
    </div>

    <!-- <div class="contact__box"> -->
        <h3 class="heading--biggest contact__heading">
            Contact Us
        </h3>
        <div class="contact__info">
            <!-- <img src="../../img/restaurant/icons/phone-call.png" alt="" class="contact__icon"> -->
            <svg class="contact__icon">
                <use xlink:href="#phone"></use>
            </svg>
            <p class="contact__paragraph">   
                +1-202-555-01xx
            </p>

        </div>
        <div class="contact__info">
                <!-- <img src="../../img/restaurant/icons/mail.png" alt="" class="contact__icon"> -->
            <svg class="contact__icon">
                <use xlink:href="#mail"></use>
            </svg>
            <p class="contact__paragraph">
                contact@AsanHouse.com
            </p>
        </div>
        <div class="contact__info">
                <!-- <img src="../../img/restaurant/icons/home.png" alt="" class="contact__icon contact__icon--top"> -->
            <svg class="contact__icon contact__icon--top">
                <use xlink:href="#home"></use>
            </svg>    
            <div class="contact__info--small">
            <p class="contact__paragraph">
                Lorem ipsum dolor sit amet.
            </p>
            <p class="contact__paragraph">
                Lorem ipsum dolor sit amet.
            </p>
            <p class="contact__paragraph">
                Lorem ipsum dolor sit amet.
            </p>
        </div> 
        </div>
        <div class="contact__info contact__socials">
            <p class="contact__paragraph--big contact__paragraph">
                Don't forget to follow us on social media 
            </p>
            
            <svg class="contact__social">
                <use xlink:href="#twitter"></use>
            </svg>

            <svg class="contact__social">
            <use xlink:href="#facebook"></use>
            </svg>

            <svg class="contact__social">
                <use xlink:href="#instagram"></use>
            </svg>
    

        </div>
    <!-- </div> -->
</div>
</section>

<% include partials/restaurant-footer %>
