@import '../../../../../../assets/style/index'

.box
    padding-bottom: 1.5rem
    border-bottom: .1rem solid $dark_grey

    > div
        margin-top: 1rem

        display: flex
        justify-content: space-between
        align-items: center

        &:nth-child(1)
            margin-top: 0

        &:nth-last-child(1)
            margin-top: 2rem