@import '../../../../assets/style/index'

.box
    width: 100%
    height: 100%

.boxTitle
    text-align: center

.boxProducts
    margin-top: 7.5rem

    > section
        margin-top: 7.5rem

        &:nth-child(1)
            margin-top: 0

.boxAction
    display: flex
    justify-content: center
    align-items: center

    margin-top: 7.5rem