@import "../../../assets/style/index"

.box
    position: absolute
    top: 100%
    right: 0

    width: auto
    height: auto
    min-width: 20rem
    background-color: $white

    border-radius: $radius
    border: .1rem solid $dark_grey

    padding: 2rem 1.5rem
    z-index: 1000