<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126806597-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-126806597-1');
        </script>

        <title>Raumgang | The App</title>
        <link rel="icon" href="/img/logobar.png" type="image/gif">
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond|PT+Sans+Narrow" rel="stylesheet"> 
        <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">      -->
        <link rel="stylesheet" href="/css/main.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>

    <body> 
        <% if(error && error.length > 0){ %>
            <div class="alert" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert" role="alert">
                <%= success %>
            </div>
        <% } %>
