@import '../../assets/style/index'

.box
    padding: 5rem 0

    > * h1
        font-size: 3rem

    > * p, * li
        font-size: 1.5rem
        line-height: 2.5rem

    > * ul
        padding-left: 1.5rem

    > * a
        color: dodgerblue

        &:hover
            //color: darken('dodgerblue', 10%)
            color: darken(dodgerblue, 20%)

.subtitle
    padding: 5rem 0 2rem 0
    text-decoration: underline

.email
    margin-top: 5rem
    font-size: 1.4rem
    padding: 0
    list-style: none

.list
    padding: 2rem 0 0 2rem

