@import "../../../../../assets/style/index"

.box
    width: 100%
    height: auto

    display: flex
    justify-content: space-between
    align-items: center

    > button
        width: 47%

        &:nth-child(2)
            background-color: $orange
