@import '../../../../assets/style/index'

$group__width: 100%
$group__margin: 5%
$row__margin: 15px
$group__item: calc((#{$group__width} - #{$group__margin}) / 2)

.box
    width: 100%
    height: auto

.form
    width: 100%
    height: auto

    > div
        padding: $row__margin 0

        &:nth-child(1)
            padding-top: 0

        &:nth-last-child(1)
            padding-bottom: 0

.formItem
    width: 100%

    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center

    > input
        width: 100%

    > div
        width: 100%

    > textarea
        width: 100%
        height: 150px

.formGroup
    width: $group__width
    height: auto

    display: flex
    justify-content: space-between
    align-items: center

.formGroupItem
    width: $group__item

    &:nth-child(1)
        margin-right: $group__margin

    &:nth-child(2)
        margin-left: $group__margin

    > input
        width: 100%

.formSubmit