@import 'breakpoints'

$black: #333333
$white: #f8f8f8

$redish: #941400

$wood_light: #d4b797
$wood_dark: #8d6638

// Width
$width: 1000px

// TAB WIDTH
$tab_width: 95%

//Border Radius
$border_radius_box: 10px
$border_radius_button: 10px

// TITLE | SUBTITLE
$title__big: 60px
$subtitle__big: 20px

$title__normal: 40px
$subtitle__normal: 18px

// TITLE | SUBTITLE TABLET SIZE

$tab__title__big: 50px
$tab__subtitle__big: 20px


$tab__title__normal: 20px
$tab__subtitle__normal: 15px
