@import "../../../assets/style/index"

.box
    color: $light_black
    fill: $light_black

    display: flex
    align-items: center

    &:hover
        color: $red
        fill: $red

    > p
        margin-left: .5rem