@import '../../../../assets/style/index'

$productbox_margin: 90px
$productbox_width: calc(#{$standard_max_width} / 3 - #{$productbox_margin})
$imagebox__height: $productbox_width


.box
    $productbox_margin: 90px
    $productbox_width: calc(#{$standard_max_width} / 3 - #{$productbox_margin})
    $imagebox__height: $productbox_width

    width: 100%
    height: auto

.boxContent
    width: $standard_max_width
    height: auto
    margin: 0 auto

    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
