// Fonts
@font-face
    font-family: 'Georgia'
    src: url('../fonts/Georgia.ttf') format("truetype")

@font-face
    font-family: 'Georgia'
    src: url('../fonts/GeorgiaBold.ttf') format("truetype")
    font-weight: 500

@font-face
    font-family: 'MrsSaintDelafield'
    src: url('../fonts/MrsSaintDelafield.ttf') format("truetype")

$font: 'Georgia'
$font_title: 'MrsSaintDelafield'

// Product aspect ratio desktop
$aspect_ratio: calc(1 / .8 * 100%)


//Colors
$black: #000000
$white: #ffffff
$skin: #f5e1bf
$skin_dark: #f1cc8c
$orange: #E4A64D
$grey: #f2f1f1
$light_grey: #FAFAFA
$dark_grey: #B0AFAD
$light_black: #8A8A8A
$red: red
$pink: #F5E1BF

// Width
$max_width: 1100px
// Height
$max_height: 70rem
// Full Height with navigation
$navigation: 7.5rem
$full_height: calc(100vh - #{$navigation})

// Radius
$radius: .25rem

// Products gap desktop
$products_gap: 7.5rem