<% include partials/titles/anleitung %>
<% include partials/header %>

<div class="data">
    <h1 class="data__header--primary orange">
        Anleitung
    </h1>

    <h3 class="data__header--secondary data--margin orange">
        Bewegen Sie sich vor und zurück:
    </h3>
    <img src="/img/left-mouse.png" alt="" class="data__icon">
    <div class="data__row"> 
    <img src="/img/up-arrow.png" alt="" class="data__icon data--margin-light">
    <img src="/img/down-arrow.png" alt="" class="data__icon data--margin-light">
    </div>

    <h3 class="data__header--secondary data--margin orange">
        Drehen Sie sich in jede gewünschte Richtung:
    </h3>
    <img src="/img/left-mouse.png" alt="" class="data__icon">
    <div class="data__row"> 
    <img src="/img/left-arrow.png" alt="" class="data__icon data--margin-light">
    <img src="/img/right-arrow.png" alt="" class="data__icon data--margin-light">
    </div>

    <h3 class="data__header--secondary data--margin orange">
        VR-Brille:
    </h3>

    <p class="data__paragraph white"> 
        Klicken/Tippen Sie auf dieses Symbol um den Rundgang mit einer VR-Brille in 3D zuerkunden.
    </p>
    <img src="/img/vr.png" alt="" class="data__icon data--margin-light">

    <h3 class="data__header--secondary data--margin orange">
        Wechsel zum Vollbildmodus:
    </h3>
    <div class="data__row"> 
        <img src="/img/full-screen.png" alt="" class="data__icon data--margin-light">
        <img src="/img/full-screen-exit.png" alt="" class="data__icon data--margin-light"> 
    </div>

    <h3 class="data__header--secondary data--margin orange">
        Infopoints:
    </h3>

    <p class="data__paragraph white"> 
        Klicken/Tippen Sie auf den „Infopoint“ um gezielte Informationen als Text, Bild, Video, Link oder pdf zum Download zu erhalten.
    </p>

    <img src="/img/mattertag.jpg" alt="" class="data__mattertag data--margin-light">
</div>








<% include partials/footer %>
