<% include partials/titles/datenschutz %>
<% include partials/header %>

<div class="data">

<h1 class="data__header--primary orange">
    Datenschutzerklärung
</h1>

<h3 class="data__header--secondary data--margin orange">
    Einleitung und allgemeine Angaben
</h3>

<p class="data__paragraph white">
    Vielen Dank für Ihr Interesse an unserer App. Der Schutz Ihrer personenbezogenen Daten ist uns ein sehr wichtiges Anliegen. Im Folgenden finden Sie Informationen zum Umgang mit Ihren Daten, die durch Ihre Nutzung unserer Website erfasst werden. Die Verarbeitung Ihrer Daten erfolgt entsprechend den gesetzlichen Regelungen zum Datenschutz. 
</p>

<h3 class="data__header--secondary data--margin orange">
    Verantwortliche Stelle im Sinne des Datenschutzrechts
</h3>

<p class="data__paragraph white">
    RaumGang 
</p>
<p class="data__paragraph white">
    Emma-Jäger-Straße 20 
</p>
<p class="data__paragraph white">
    75175 Pforzheim
</p>
<p class="data__paragraph white">
    info@raumgang.de
</p>
<p class="data__paragraph white">
    +4917622121907
</p>

<h3 class="data__header--secondary data--margin orange">
    Begriffsbestimmungen
</h3>

<p class="data__paragraph white">
    Unsere Datenschutzerklärung soll für jedermann einfach und verständlich sein. In dieser Datenschutzerklärung werden in der Regel die offiziellen Begriffe der Datenschutzgrundverordnung (DSGVO) verwendet. Die offiziellen Begriffsbestimmungen werden in Art. 4 DSGVO erläutert.
</p>

<h3 class="data__header--secondary data--margin orange">
    Datenverarbeitung durch den Besuch unserer App
</h3>

<p class="data__paragraph white">
    Wenn Sie unsere Plattform aufrufen, ist es technisch notwendig, dass über Ihren Internetbrowser Daten an unseren Webserver übermittelt werden. Folgende Daten werden während einer laufenden Verbindung zur Kommunikation zwischen Ihrem Internetbrowser und unserem Webserver aufgezeichnet:
</p>
<p class="data__paragraph white data--margin-light">
    &bull; Datum und Uhrzeit der Anforderung
</p>
<p class="data__paragraph white">
    &bull; Name der angeforderten Datei
</p>
<p class="data__paragraph white">
    &bull; Seite, von der aus die Datei angefordert wurde
</p>
<p class="data__paragraph white">
    &bull; Zugriffsstatus
</p>
<p class="data__paragraph white">
    &bull; Verwendeter Webbrowser und verwendetes Betriebssystem
</p>
<p class="data__paragraph white">
    &bull; (Vollständige) IP-Adresse des anfordernden Rechners
</p>
<p class="data__paragraph white">
    &bull; Übertragene Datenmenge
</p>

<p class="data__paragraph white data--margin-light">
    Die aufgelisteten Daten erheben wir, um einen reibungslosen Verbindungsaufbau der Plattform zu gewährleisten und eine komfortable Nutzung unserer Website durch die Nutzer zu ermöglichen. Zudem dient die Logdatei der Auswertung der Systemsicherheit und -stabilität sowie administrativen Zwecken. Rechtsgrundlage für die vorübergehende Speicherung der Daten bzw. der Logfiles ist Art. 6 Abs. 1 lit. f DSGVO.
</p>

<h3 class="data__header--secondary data--margin orange">
    Google Maps
</h3>

<p class="data__paragraph white data--margin-light">
    Unsere Plattform nutzt über eine Schnittstelle den Online-Kartendienstanbieter Google Maps. Anbieter des Kartendienstes ist Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA. Zur Nutzung der Funktionalitäten von Google Maps ist es notwendig, Ihre IP Adresse zu speichern. Diese Informationen werden an einen Server von Google in den USA übertragen und dort gespeichert. Der Anbieter dieser Seite hat keinen Einfluss auf diese Datenübertragung. Die Nutzung des Kartendienstes Google Maps erfolgt im Interesse einer ansprechenden Darstellung unseres Online-Angebots und an der einfacheren Auffindbarkeit der von uns auf der Website angeführten Adressen. Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar. Weitere Informationen zum Umgang mit Nutzerdaten finden Sie in der Datenschutzerklärung von Google: https://www.google.de/intl/de/policies/privacy/.
Opt-out: https://www.google.com/settings/ads/
</p>

<h3 class="data__header--secondary data--margin orange">
    Datenweitergabe und Empfänger
</h3>

<p class="data__paragraph white data--margin-light">
    Eine Übermittlung Ihrer personenbezogenen Daten an Dritte findet nicht statt, außer
</p>

<p class="data__paragraph white data--margin-light">
    &bull; wenn wir in der Beschreibung der jeweiligen Datenverarbeitung explizit darauf hingewiesen haben.
</p>
<p class="data__paragraph white">
    &bull; wenn Sie ausdrückliche Einwilligung nach Art. 6 Abs. 1 S. 1 lit. a DSGVO dazu erteilt haben,
</p>
<p class="data__paragraph white">
    &bull; die Weitergabe nach Art. 6 Abs. 1 S. 1 lit. f DSGVO zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist und kein Grund zur Annahme besteht, dass Sie ein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten haben,
</p>
<p class="data__paragraph white">
    &bull; m Falle, dass für die Weitergabe nach Art. 6 Abs. 1 S. 1 lit. c DSGVO eine gesetzliche Verpflichtung besteht und
</p>
<p class="data__paragraph white">
    &bull; soweit dies nach Art. 6 Abs. 1 S. 1 lit. b DSGVO für die Abwicklung von Vertragsverhältnissen mit Ihnen erforderlich ist.
</p>

<p class="data__paragraph white data--margin-light">
    Wir nutzen darüber hinaus für die Abwicklung unserer Services externe Dienstleister, die wir sorgfältig ausgewählt und schriftlich beauftragt haben. Sie sind an unsere Weisungen gebunden und werden von uns regelmäßig kontrolliert. Mit welchen wir erforderlichenfalls Auftragsverarbeitungsverträge gem. Art. 28 DSGVO geschlossen haben. Diese sind Dienstleister für das Webhosting, den Versand von E-Mails sowie Wartung und Pflege unserer IT-Systemen usw. Die Dienstleister werden diese Daten nicht an Dritte weitergeben.
</p>

<h3 class="data__header--secondary data--margin orange">
    Dauer der Speicherung personenbezogener Daten
</h3>

<p class="data__paragraph white">
Die Dauer der Speicherung von personenbezogenen Daten bemisst sich an den einschlägigen gesetzlichen Aufbewahrungsfristen (z. B. aus dem Handelsrecht und dem Steuerrecht). Nach Ablauf der jeweiligen Frist werden die entsprechenden Daten routinemäßig gelöscht. Sofern Daten zur Vertragserfüllung oder Vertragsanbahnung erforderlich sind oder unsererseits ein berechtigtes Interesse an der Weiterspeicherung besteht, werden die Daten gelöscht, wenn Sie zu diesen Zwecken nicht mehr erforderlich sind oder Sie von Ihrem Widerrufs- oder Widerspruchsrecht Gebrauch gemacht machen.
</p>

<h3 class="data__header--secondary data--margin orange">
    Ihre Rechte
</h3>

<p class="data__paragraph white">
    Im Folgenden finden Sie Informationen dazu, welche Betroffenenrechte das geltende Datenschutzrecht Ihnen gegenüber dem Verantwortlichen hinsichtlich der Verarbeitung Ihrer personenbezogenen Daten gewährt:
</p>

<p class="data__paragraph white data--margin-light">
    Das Recht, gemäß Art. 15 DSGVO Auskunft über Ihre von uns verarbeiteten personenbezogenen Daten zu verlangen. 
    Insbesondere können Sie Auskunft über die Verarbeitungszwecke, die Kategorie der personenbezogenen Daten, die Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die geplante Speicherdauer, das Bestehen eines Rechts auf Berichtigung, Löschung, Einschränkung der Verarbeitung oder Widerspruch, das Bestehen eines Beschwerderechts, die Herkunft ihrer Daten, sofern diese nicht bei uns erhoben wurden, sowie über das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling und ggf. aussagekräftigen Informationen zu deren Einzelheiten verlangen. 
</p>

<p class="data__paragraph white data--margin-light">
    Das Recht, gemäß Art. 16 DSGVO unverzüglich die Berichtigung unrichtiger oder Vervollständigung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen.
</p>
<p class="data__paragraph white data--margin-light">
    Das Recht, gemäß Art. 17 DSGVO die Löschung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen, soweit nicht die Verarbeitung zur Ausübung des Rechts auf freie Meinungsäußerung und Information, zur Erfüllung einer rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses oder zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist.
</p>
<p class="data__paragraph white data--margin-light">
    Das Recht, gemäß Art. 18 DSGVO die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen, soweit die Richtigkeit der Daten von Ihnen bestritten wird, die Verarbeitung unrechtmäßig ist, Sie aber deren Löschung ablehnen und wir die Daten nicht mehr benötigen, Sie jedoch diese zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen oder Sie gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung eingelegt haben. 
</p>
<p class="data__paragraph white data--margin-light">
    Das Recht, gemäß Art. 20 DSGVO Ihre personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesebaren Format zu erhalten oder die Übermittlung an einen anderen Verantwortlichen zu verlangen. 
</p>
<p class="data__paragraph white data--margin-light">
    Das Recht, sich gemäß Art. 77 DSGVO bei einer Aufsichtsbehörde zu beschweren. In der Regel können Sie sich hierfür an die Aufsichtsbehörde des Bundeslandes unseres oben angegebenen Sitzes oder ggf. die Ihres üblichen Aufenthaltsortes oder Arbeitsplatzes wenden.
</p>
<p class="data__paragraph white data--margin-light">
    Recht auf Widerruf erteilter Einwilligungen gemäß Art. 7 Abs. 3 DSGVO: Sie haben das Recht, eine einmal erteilte Einwilligung in die Verarbeitung von Daten jederzeit mit Wirkung für die Zukunft zu widerrufen. Im Falle des Widerrufs werden wir die betroffenen Daten unverzüglich löschen, sofern eine weitere Verarbeitung nicht auf eine Rechtsgrundlage zur einwilligungslosen Verarbeitung gestützt werden kann. Durch den Widerruf der Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt. 
</p>

<h3 class="data__header--secondary data--margin orange">
    Widerspruchsrecht
</h3>

<p class="data__paragraph white">
    Sofern Ihre personenbezogenen Daten von uns auf Grundlage von berechtigten Interessen gemäß Art. 6 Abs. 1 S. 1 lit. f DSGVO verarbeitet werden, haben Sie gemäß Art. 21 DSGVO das Recht, Widerspruch gegen die Verarbeitung Ihrer personenbezogenen Daten einzulegen, soweit dies aus Gründe erfolgt, die sich aus Ihrer besonderen Situation ergeben. Soweit sich der Widerspruch gegen die Verarbeitung personenbezogener Daten zum Zwecke von Direktwerbung richtet, haben Sie ein generelles Widerspruchsrecht ohne das Erfordernis der Angabe einer besonderen Situation. Möchten Sie von Ihrem Widerrufs- oder Widerspruchsrecht Gebrauch machen, genügt eine E-Mail info@raumgang.de.
</p>

<h3 class="data__header--secondary data--margin orange">
    Externe Verlinkungen
</h3>

<p class="data__paragraph white">
    Soziale Netzwerke (Facebook, Twitter, Xing etc.) sind auf unserer Webseite lediglich als Link zu den entsprechenden Diensten eingebunden. Nach dem Anklicken des eingebundenen Text-/Bild-Links werden Sie auf die Seite des jeweiligen Anbieters weitergeleitet. Erst nach der Weiterleitung werden Nutzerinformationen an den jeweiligen Anbieter übertragen. Informationen zum Umgang mit Ihren personenbezogenen Daten bei Nutzung dieser Webseiten entnehmen Sie bitte den jeweiligen Datenschutzbestimmungen der von Ihnen genutzten Anbieter. 
</p>

<h3 class="data__header--secondary data--margin orange">
    Änderungsvorbehalt
</h3>

<p class="data__paragraph white">
    Wir behalten uns vor, diese Datenschutzerklärung erforderlichenfalls unter Beachtung der geltenden Datenschutzvorschriften anzupassen bzw. zu aktualisieren. Auf diese Weise können wir sie den aktuellen rechtlichen Anforderungen anpassen und Änderungen unserer Leistungen berücksichtigen, z. B. bei der Einführung neuer Services. Für Ihren Besuch gilt die jeweils aktuellste Fassung. 
</p>
<p class="data__paragraph white data--margin-light">
    Diese Datenschutzerklärung wurde erstellt durch www.datenschutzexperte.de
</p>
<p class="data__paragraph white data--margin-light">
    Stand dieser Datenschutzerklärung: 15.09.2018
</p>

</div>



<% include partials/footer-special %>