<% include partials/header-landing %>

        <div class="landing">
        <div class="width">
            <div class="landing__logo ">
                <img src="/img/logo.png" alt="" class="logo">
            </div>
        </div>

        <div class="landing__gif">
            <img src="https://static.matterport.com/mp_cms/media/filer_public/17/85/178583b3-6741-4e7a-b414-e01d674708c4/bd6b952a0bab656d0db4273942cd0710eadbf4ca.png" alt="" class="landing__gif--img">
        </div>

        <div class="landing__bar">
            <form action="/forgot" class="landing__login width" method="POST">
                <div class="forgot__input--details">
                    <input type="email" name="email" class="landing__input" id="png" placeholder="Email" required>      
                </div>     
                <div class="landing__buttons">
                    <button class="forgot__button">Passwort zurücksetzen</button>
                   
                </div>

                

            </form>
        </div>

        <div class="landing__bar--bottom">
            <!-- <div class="width"> -->
                <!-- <div class="landing__start">
                    <a href="#" class="landing__start--link">
                        Start 
                    </a href="#">
                    <img src="/img/right.png" alt="" class="landing__start--arrow">
                </div> -->
                
            <!-- </div> -->
        </div>
    
        </div>

    </body>
    </html>