@import '../../../../../assets/style/index'

.box
    $size: 8rem
    width: $size
    height: $size
    background-color: $grey

    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start

    cursor: pointer

    > span
        width: 100%
        text-align: center
        padding: .2rem
        background-color: $dark_grey
        visibility: hidden
        opacity: 0

    > img
        margin: auto auto 0 auto
        max-width: 100%
        max-height: 100%
        padding-top: .5rem

    &:hover
        > span
            visibility: visible
            opacity: 1