@import '../../assets/style/index'

$productbox_margin: 90px
$productbox_width: calc(#{$standard_max_width} / 3 - #{$productbox_margin})
$imagebox__height: $productbox_width


.product
    width: 27.5%
    position: relative
    margin: 2.5rem 0

    &:hover
        opacity: .9
        cursor: pointer

.image
    width: 100%
    height: $imagebox__height

    position: relative

    > img
        position: absolute
        margin: auto
        top: 0
        bottom: 0
        left: 0
        right: 0
        max-width: 100%
        max-height: 100%

.box1
    width: 100%
    padding: 1rem 0

    color: $black

    display: flex
    justify-content: center
    align-items: center

    border-bottom: .1rem solid $blue

.box1Title
    width: 100%
    text-align: start

.box1Price
    width: 50%
    text-align: end

    position: relative

.box1PriceNew
    position: absolute
    bottom: 2.5rem
    right: 0


.box2
    width: 100%
    padding: 1rem 0

    display: flex
    justify-content: space-between
    align-items: center


.box2Category
    width: 50%
    text-align: start

    > p
        text-transform: lowercase

        &:first-letter
            text-transform: uppercase
