<% include ../partials/header %>
<div class="show">
<div class="show__top">
    <div class="show__box show__box--left">
        <div class="show__box--boxy">
                <h3>Anleitung</h3>
        </div>
        
    </div>

    <div class="show__box show__box--right">
        <img src="/img/logo.png" alt="" class="show__logo">
    </div>
</div>

<div class="show__scan">
    <div class="show__scan--iframe">
        <iframe src="" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="show__scan--shorts">
        <a href="" target="iframe" class="show__shorts">
            Full Scan
        </a>
        <a href="" target="iframe" class="show__shorts">
            Room 1
        </a>
        <a href="" target="iframe" class="show__shorts">
            Room 2
        </a>
        <a href="" target="iframe" class="show__shorts">
            Room 3
        </a>
        <a href="" target="iframe" class="show__shorts">
            Room 4
        </a>
    </div>
</div>

<div class="show__contacts">
    <div class="show__contacts--first">
        <h3 class="show__contacts--heading orange">if you want to find out more</h3>
        <h3 class="">about us, <a href="#" class="light">visit our website</a></h3>
    </div>

    

    <a href="#" class="show__contacts--news">
        News
    </a>

    <div class="show__contacts--first">
        <h3 class="show__contacts--heading orange">keep in touch with us</h3>
        <div class="show__socials">
            <img src="" alt="" class="show__socials--icons">
            <img src="" alt="" class="show__socials--icons">
            <img src="" alt="" class="show__socials--icons">
        </div>
    </div>
</div>


<div class="raumgang">
    <img src="/img/raumgang.png" alt="" class="raumgang__image">

    <div class="raumgang__box">
        <div class="raumgang__box--boxy">
            <h3 class="raumgang__box--heading">our team is here so the</h3>
            <h3 class="raumgang__box--heading">World can see your work</h3>
            <div class="raumgang__box--dots">
            <h3>.</h3>
            <h3>.</h3>
            <h3>.</h3>
            </div>
            <h3 class="raumgang__box--heading orange">let's make your own presentation</h3>
            <a href="/register">
                <img src="/img/play.png" alt="" class="raumgang__play">
            </a>  
        </div>
    </div>
</div>



<% include ../partials/footer %>