@import '../../assets/style/index'
.boxContent
    width: $box_width
    height: $box_height
    min-height: $box_min_height
    max-height: $box_height
    background-color: rgba(red, .3)
    overflow-y: hidden
    //margin: 10px auto

//.boxContentPortfolio
//    min-height: 800px

.boxContentServices
    height: 700px

.boxContentAbout
    height: 700px

.boxContentHome
    min-height: 800px
    max-height: 800px
    position: relative
