@import '../../../../../assets/style/index'


.box
    width: 100%
    height: auto

.boxSummary
    border-bottom: .1rem solid $black
    padding-bottom: 1.25rem

.boxTotal
    padding-top: 1.25rem

.boxDropdown
    width: 100%
    height: auto
    padding: 1.5rem 0

.boxActions
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    padding: 3rem 7rem 0 7rem

    > p
        margin: 1.5rem 0


.boxRow
    display: flex
    justify-content: space-between
    align-items: center

    margin-top: 1rem

    &:nth-child(1)
        margin-top: 0