$black: #303032;
$white: #f4f4f4;
$primary: #FCDE3B; 
$blue: #0378db;
$blue-dark: darken($blue, 12.5%);
$blue-light: lighten($blue, 12.5%);
$red: red;
$grey: #ededed;

///// Font color
$grey-dark: #303032;



///////// Button size

$button-size-normal: 1.4rem;