<!DOCTYPE html>
<html class="restaurant">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow">
    <meta name="description" content="AforC | Demo presentation about our vision of restaurant | Web design and web development business">
    <title>Demo Presentation | Restaurant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" type="text/css" media="screen" href="/css/restaurant/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,700|Pinyon+Script" rel="stylesheet">
    <!-- <script src="main.js"></script> -->
</head>
<body class="restaurant--font">
    <div class="body"> 