@import "../../../../assets/style/index"

.box
    width: 100%

.button
    > a
        width: 100%
        height: auto

    > button
        width: 100%

        display: flex
        justify-content: center
        padding: 0 2.5rem 3rem 2.5rem

        border-bottom: .2rem solid $gold

.title
    padding-top: 1rem
    padding-bottom: 2.5rem

.paragraph
    display: flex
    justify-content: space-between
    align-items: center

    &:nth-child(2)
        margin-top: 2rem
        margin-bottom: 1.5rem

    &:nth-child(4)
        margin-top: 5rem