.data {
    &__icon {
       margin-right: 2rem; 
    }

    &__row {
        display: flex;
        flex-direction: row;
    }

    &__mattertag {
        width: 50%;

        @include respond(1100) {
            width: 100%;
        }
    }

}