@import '../../assets/style/index'

.box
    width: 100%
    height: auto
    padding: 10rem 0


    > section
        margin-top: 10rem

        &:nth-child(1)
            margin-top: 0

.boxTop
    display: grid
    grid-template-columns: 43% 1fr
    grid-column-gap: 4rem

.boxImages
    height: auto

.boxBottomInfo
    margin: 7.5rem 0

.boxRelatedProducts
    margin-bottom: 7.5rem
