@import '../../assets/style/index'

.ComponentFullSlot
    width: 100%
    min-height: 100vh

    //padding: 50px 0

    //display: flex
    //justify-content: center
    //align-items: center

    position: relative

    overflow: hidden

    //background-color: rgba(yellow, .3)
