@import '../../../../assets/style/index'

.box
    width: 100%
    height: auto

.boxContent
    width: $max_width
    height: 100vh
    min-height: 60rem
    max-height: $max_height
    margin: 0 auto

.boxTop
    padding: 5rem 0 7.5rem 0

.boxCart
    padding-right: 2rem

.boxCartItems
    > div
        margin-top: 1rem
        padding-top: 1rem
        border-top: .1rem solid $black

        &:nth-child(1)
            margin-top: 0
            padding-top: 0
            border: none
