@import '../../../../assets/style/index'
@import "./common"

.box
    width: 100%
    height: auto

    > section
        margin-top: 2.5rem

        &:nth-child(1)
            margin-top: 0


.boxPagination
    margin-top: 2.5rem