@import '../../../assets/style/index'
.box
    width: auto
    height: auto

    position: absolute
    top: 1rem
    right: 1rem
    background-color: $orange
    padding: .75rem 1.5rem
    border-radius: .25rem

    z-index: 100

    > span
        user-select: none
