@import '../../../../assets/style/index'

.box
    > h1
        letter-spacing: .5rem

        &:nth-child(1)
            margin-left: -1.65rem

        > span
            font-size: 4rem
            line-height: 3.5rem