@import '../../../../assets/style/index'

.box
    width: 100%
    height: auto

.boxTitle
    text-align: center
    padding-bottom: 2.5rem

.boxParagraph
    display: flex
    justify-content: space-between
    align-items: center

    &:nth-child(2)
        margin-top: 2rem
        margin-bottom: 1.5rem

    &:nth-child(4)
        margin-top: 5rem