@import "../../assets/style/variables"

.auth
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
    width: 100%

    display: flex
    justify-content: center
    align-items: center

    &__box
        width: 400px
        height: auto
        padding: 2%

        margin: 0 auto

        background-color: $yellow

        display: flex
        flex-direction: column
        justify-content: center

        text-align: start

    &__submit
        display: flex
        justify-content: flex-end

.twoFormsInRow
    width: 100%
    background-color: green
