@import '../../../../assets/style/index'

.box
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center

    > div > p
        font-size: 1.4rem

.created
    > p
        font-style: italic

        > span
            font-style: normal




