@import '../../../assets/style/index'

.box
    width: 100%
    height: auto

.boxForm
    > div
        margin-top: 2.5rem

        &:nth-child(1)
            margin-top: 0

.boxAction
    margin-top: 3.5rem

.boxActionLink
    margin-top: 1rem
    text-align: center


