.footer {
    // margin-top: 8rem;
    background-color: $blue-dark; 
    color: $white;
    height: 45rem;
    position: relative;
    padding-left: 15%;
    padding-right: 15%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include respond(1230) {
        height: 40rem;
    }

    @include respond(1000) {
        height: 30rem;
    }


    &__logo {
        height: 6rem;
        position: absolute;
        top: -3rem;
        left: 50%;
        transform: translate(-50%);

        @include respond(1000) {
            height: 5.5rem;
            top: -2.75rem;
        }
    }

    &__box {
        // background-color: rgba(red, .4);
        width: 40%;
        min-height: 20rem;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: space-between;

       
    }

    &__title {
        font-size: 2rem;
        color: inherit;
        margin-bottom: 3rem;

        @include respond(1230) {
            font-size: 1.75rem;
        }
    
        @include respond(1000) {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }

    &__adress {
        font-size: 1.2rem;
        margin: .5rem;
        color: inherit;
    }

    &__social {
        &--title {
            font-size: 1.75rem;
            margin-top: 5rem;

            @include respond(1230) {
                font-size: 1.5rem;
            }
        
            @include respond(1000) {
                font-size: 1.4rem;
                margin-top: 2.5rem;
            }
        }

        &--icon {
            height: 3.5rem;
            margin-right: 1rem;
            margin-top: 1.5rem;
            background-color: $white;
            border-radius: 50%;

            @include respond(1230) {
                height: 3rem;
            }

            @include respond(1000) {
                height: 2.5rem;
            }
        }
        
    }
}



.footer__maps {
    width: 60%;
    height: 30rem;
    align-self: center;

    @include respond(1230) {
        height: 25rem;
    }

    @include respond(1000) {
        height: 17.5rem;
    }
}

.copyright {
    font-size: .9rem;
    color: inherit;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

}