@import '../../assets/style/index'

.box
    width: 100%
    height: auto

.boxTitle
    display: flex
    justify-content: flex-start
    margin-bottom: 5rem

    > h2
        margin-left: 2rem
        cursor: pointer

        &:hover
            text-decoration: underline

        &:nth-child(1)
            margin-left: 0

.boxTitleActive
    text-decoration: underline
