<!DOCTYPE html>
<html lang="ro">
    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122148885-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-122148885-1');
        </script>


        <meta charset="UTF-8">
        <meta description="Firma noastra, S.C. Professional Waterprooting S.R.L. va pune a dispozitie servicii calitative de hiroizolatie Subsoluri si Beciuri, Lichide, Terase, Piscine, Beciuri, Bai, Balcoane, Poliuree, Tuneluri si poduri, folosind numai produse profesionale si de durata.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat:300,400,600,700" rel="stylesheet">        <link rel="stylesheet" href="/css/icon-font.css">
        <link rel="stylesheet" href="/css/style.css">
        
        <% include components/iconbar %>
                
        <title>Hidroizolatii</title> 
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        
    </head>

    <body>
        <header class="header">
            <div class="header__line--color">
                    <a href="mailto:maruntis.adrian@yahoo.ro">
                <p class="header__line--paragraph">
                        <img src="/img/message.png" alt="Hidroizolatii pro, servicii hidroizolatie e-mail" class="header__line--i header__line--i slideright">
                    <span class="slideleft" id="slideLeft">maruntis.adrian@yahoo.ro</span> 
                </p>
                </a>
                <a href="tel:0734078162">
                <p class="header__line--paragraph">
                   <img src="/img/phone.png" alt="Hidroizolatii pro, servicii hidroizolatie telefon" class="header__line--i header__line--i-2 slideright"> 
                   <span class="slideleft" id="slideLeft">0734078162</span>
                </p>
                </a>
                <p class="header__line--paragraph">
                        <img src="/img/home.png" alt="Hidroizolatii pro, servicii hidroizolatie adresa" class="header__line--i header__line--i-3 slideright">
                        <span class="slideleft" id="slideLeft">Sos. Andronache nr. 69 et 2, sector 2, Bucuresti</span>
                </p>
            </div>

            <div class="header__menu">
                <!-- <div class="header__links"> -->
                    <a href="#contact" class="header__link" id="contactstart">contact</a>
                    <a href="#clienti" class="header__link" id="clientistart">clienti</a>
                    <a href="#servicii" class="header__link" id="serviciistart">servicii</a>
                    <a href="#about" class="header__link" id="aboutstart">despre</a> 
                    <a href="/" class="header__link header__link--active">home</a> 
                <!-- </div> -->
            </div>

            <div class="logo__box">
                <img src="/img/logo.png" alt="Hidropro, servicii hidroizolatii" class="logo" id="HidroizolatiiRo">
            </div>
           
        </header>

        <section class="hero">
            <img src="/img/home.jpg" alt="Hidropro, Hidroizolatii Beciuri S.C. Professional Waterprooting S.R.L." class="hero__img">
            <div class="hero__heading">
                <h1 class="hero__title primary">
                   <span class="hero__title--closer letter-height">H</span>idro <span class="hero__title--closer letter-height">P</span>ro
                </h1>
                <h3 class="hero__title--small">
                    Iti oferim siguranta de care ai nevoie
                </h3>
                <a href="#mai-multe" class="hero__button" id="scale">
                    afla mai multe
                </a>
            </div>
        </section>

        <section class="intro laptop--width" id="mai-multe">
           

            <div class="row">
                
                <div class="intro__primary">
                    <div class="intro__center">
                        <h3 class="intro__primary--heading">
                            Suntem aici daca ai probleme cu
                        </h3>
                        <p class="intro__primary--paragraph">&#9989; Mucegai</p>
                        <p class="intro__primary--paragraph">&#9989; Pereti umezi</p>
                        <p class="intro__primary--paragraph">&#9989; Crapaturi in pereti si podea</p>
                    </div>
                </div>      
                        
                <div class="intro__secondary">
                    <div class="intro__center">
                        <h3 class="intro__secondary--heading">
                            echipa noastra se ocupa de:
                        </h3>
                        <p class="intro__secondary--paragraph">
                            Hidroizolatia spatiului tau 
                        </p>
                        <p class="intro__secondary--paragraph">
                            Eliminarea mucegaiului
                        </p>
                        <p class="intro__secondary--paragraph">
                            Repararea betonului
                        </p>
                        <p class="intro__secondary--paragraph">
                            Opritul scurgerilor
                        </p>
                        <p class="intro__secondary--paragraph">
                            Protejarea fundatiei
                        </p>
                    </div>
                </div>

                <div class="intro__break">
                    &nbsp;
                </div>
   
            </div>
        </section>

        <section class="break">
            <div class="break__line-1">
                &nbsp;
            </div>
            <div class="break__box">
            <img src="/img/mouse.png" alt="Hidroizolatii, servicii de cea mai buna calitate de la hidropro" class="break__image">
            </div>
            <div class="break__line-2">
                &nbsp;
            </div>
        </section>

        <section class="services laptop--width" id="servicii">
                
                <nav class="navigation__nav" id="navigation">
                        <h1 id="end">
                                &times;
                        </h1>
                        <ul class="navigation__list">
                            
                            <li class="navigation__item">
                                <a href="/hidroizolatii-beciuri" class="navigation__link">Hidroizolatii Beciuri</a>
                            </li>
                            <li class="navigation__item">
                                <a href="/hidroizolatii-terase" class="navigation__link">Hidroizolatii Terase</a>
                            </li>
                            <li class="navigation__item">
                                <a href="/hidroizolatii-lichide" class="navigation__link">Hidroizolatii Lichide</a>
                            </li>                           
                            <li class="navigation__item">
                                <a href="/hidroizolatii-bai" class="navigation__link">Hidroizolatii Bai</a> 
                            </li>     
                            <li class="navigation__item">
                                <a href="/hidroizolatii-balcoane" class="navigation__link">Hidroizolatii Balcoane</a> 
                            </li>       
                            <li class="navigation__item">
                                <a href="/hidroizolatii-piscine" class="navigation__link">Hidroizolatii Piscine</a> 
                            </li>      
                            <li class="navigation__item">
                                <a href="/hidroizolatii-poduri" class="navigation__link">Hidroizolatii Poduri</a> 
                            </li>  
                            <li class="navigation__item">
                                <a href="/hidroizolatii-poliuree" class="navigation__link">Hidroizolatii Cu Poliuree</a> 
                            </li>    
                            <li class="navigation__item">
                                <a href="/hidroizolatii-fundatii" class="navigation__link">Hidroizolatii Fundatii</a> 
                            </li>  
                            <li class="navigation__item">
                                <a href="/hidroizolatii-tabla" class="navigation__link">Hidroizolatii Tabla</a> 
                            </li>            
                                         
                        </ul>
                    </nav>
            
            <div class="services__center">
                <h3 class="services__heading blue letter-height">
                    Serviciile noastre
                </h3>

                <div class="row">
                   
                    <div class="col-1-of-3">
                        <div class="services__container">
                            <img src="/img/hfundatiihome.jpg" alt="Hidroizolatii lichide S.C. Professional Waterprooting S.R.L." class="services__image">
                            <div class="services__overlay">
                                <h4 class="services__link"  id="title2">Hidroizolatii fundatii</h4>
                                <a href="/hidroizolatii-fundatii" class="services__portofolio"><img src="/img/zoom.png" alt="Hidroizolatii pro, servicii de cea mai buna calitate de la hidropro" class="hide" id="zoom2"></a>                             
                            </div>
                        </div>
                    </div>
                    <div class="col-1-of-3">
                        <div class="services__container">
                            <img src="/img/terase1.jpg" alt="Hidroizolatii terase S.C. Professional Waterprooting S.R.L." class="services__image">
                            <div class="services__overlay">
                                <h4 class="services__link"  id="title3">Hidroizolatii terase</h4>
                                <a href="/hidroizolatii-terase" class="services__portofolio"><img src="/img/zoom.png" alt="Hidroizolatii pro, servicii de cea mai buna calitate de la hidropro" class="hide" id="zoom3"></a>                             
                            </div>
                        </div>
                    </div>

                    <div class="col-1-of-3">
 
                            <div class="services__container">
                                <img src="/img/hpiscine1.jpg" alt="Hidroizolatii piscine S.C. Professional Waterprooting S.R.L." class="services__image">
                                <div class="services__overlay">
                                    <h4 class="services__link"  id="title1">Hidroizolatii piscine</h4>
                                  <a href="/hidroizolatii-piscine" class="services__portofolio"><img src="/img/zoom.png" alt="Hidroizolatii pro, servicii de cea mai buna calitate de la hidropro" class="hide" id="zoom1"></a> 
                                </div>
                            </div>
    
                        </div>
                </div>
                <div class="services__btn">
                <p class="btn" id="start">
                    vezi mai multe
                </p>
            </div>
            </div>
        </section>

        <section class="break" id="about">
            <div class="break__line-1">
                &nbsp;
            </div>
            <div class="break__box">
            <img src="/img/mouse.png" alt="Hidroizolatii, servicii de cea mai buna calitate de la hidropro" class="break__image">
            </div>
            <div class="break__line-2">
                &nbsp;
            </div>
        </section>

        <section class="about laptop--width" >
            
                <div class="row">
                    <div class="about__center">
      
                        <p class="about__paragraph--1">
                                Lucrarile de hidroizolatie sunt in general lucrari ascunse de ochii lumii 
                                (hidroizolatia fundatiei unei cladiri, hidroizolatia unui acoperis verde, hidroizolatia
                                 unei piscine, hidroizolatia unui lac ornamental) prin urmare orice greseli, accidente 
                                 ce produc zone neetanse vor fi observate doar cand este prea tarziu (acoperisuri, pivnite 
                                 cu infiltratii, iazuri cu scapari de apa, etc). Remedierea acestor probleme este foarte
                                  costisitoare, uneori gasirea punctelor critice este foarte grea, aproape imposibila in 
                                  unele situatii.                       
                                 </p>

                </div>
                <div class="about__center">
                            <p class="about__paragraph--2">
                                    Din acest motiv echipa noastra executa lucrari de hidroizolatii in conformitate 
                                    cu nevoile tale. Oferim clientilor nostri garantia unei exploatari de durata si fara 
                                    evenimente neplacute, fiind imperativ necesara folosirea produselor potrivite fiecarei
                                     lucrari si executarea acesteia intr-un mod profesionist si de calitate.                                
                                    </p>

                </div>
            
        </section>

        <section class="title">
            <div class="row">
                <div class="col-1-of-2">
                    <h1 class="title-2__first-2 primary letter-height">
                        Alte
                    </h1>
                </div>
                <div class="title-2__break-2">
                    &nbsp;
                </div>
                <div class="col-1-of-2">
                    <h1 class="title-2__second-2 primary letter-height">
                        servicii
                    </h1>
                </div>
            </div>
        </section>


        <section class="others laptop--width">
            <div class="row">
                <div class="col-1-of-2">
                    <a href="/covoare-piatra">
                    <div class="others__box">
                        <h4 class="others__title others__title--yellow">
                            Covoare de piatra
                        </h4>
                        <div class="others__box--image">
                            <img src="/img/piatra.jpg" alt="Hidropro, covoare de piatra" class="others__image">
                        </div>
                    </div>
                </a>
                </div>
                <div class="col-1-of-2">
                    <a href="/hidroizolatii-tabla">
                    <div class="others__box-2">
                        <h4 class="others__title others__title-2 others__title--yellow">
                            hidroizolatii tabla
                        </h4>
                        <div class="others__box--image-2">
                            <img src="/img/htabla.jpg" alt="Hidropro, hidroizolatie tabla" class="others__image">
                        </div>
                    </div>
                </a>
                </div>
            </div>

            <div class="row">
                <div class="col-1-of-2">
                    <div class="others__box-3">
                        <h4 class="others__title others__title-3 others__title--yellow">
                            injectari
                        </h4>
                        <div class="others__box--image-3">
                            <img src="/img/injectii.jpg" alt="Hidropro, injectii" class="others__image">
                        </div>
                    </div>
                </div>
                <div class="col-1-of-2">
                    <div class="others__box-4">
                        <h4 class="others__title others__title-4 others__title--yellow">
                            Iazuri si rezervoare
                        </h4>
                        <div class="others__box--image-4">
                            <img src="/img/iazuri.jpg" alt="Hidropro, iazuri si" class="others__image">
                        </div>
                    </div>
                </div>
                
            </div>

            <!-- <div class="row">
                    <div class="col-1-of-2">
                        <div class="others__box-6">
                            <h4 class="others__title others__title-6 others__title--yellow">
                                Iazuri si rezervoare
                            </h4>
                            <div class="others__box--image-6">
                                <img src="/img/iazuri.jpg" alt="" class="others__image">
                            </div>
                        </div>
                    </div>
            </div> -->

            <!-- <div class="row">
                <div class="others__box-5">
                    <h4 class="others__title others__title-5">
                        membrana hidroizolatie transparenta
                    </h4>
                </div>
            </div> -->
        </section>
        
        <section class="title-2">
            <div class="row">
                <div class="col-1-of-2">
                    <h1 class="title-2__first-2 primary letter-height">
                        scrie-ne un mail
                    </h1>
                </div>
                <div class="title-2__break-2">
                    &nbsp;
                </div>
                <div class="col-1-of-2">
                    <h1 class="title-2__second-2 primary letter-height">
                        pentru o consultatie gratuita
                    </h1>
                </div>
            </div>
        </section>


        <section class="form" id="contact">
            <div class="form__center laptop--width">
                <div class="form__center--content">
                <div class="row">
                    <h3 class="form__title">
                        contacteaza-ne
                    </h3>
                </div>

                <div class="row">
                    <h4 class="form__title--second">
                        Suntem intotdeauna gata sa te ajutam
                    </h4>
                </div>

<!--                <form action="https://formspree.io/hidroizolatiiro.contact@gmail.com" method="POST">-->
<!--                    <div class="row">-->
<!--                        <div class="col-1-of-3">-->
<!--                            <input type="text" name="Nume" class="form__input" placeholder="Nume" required>-->
<!--                        </div>-->
<!--                        <div class="col-1-of-3">-->
<!--                            <input type="email" name="E-mail" class="form__input" placeholder="E-mail" required>-->
<!--                        </div>-->
<!--                        <div class="col-1-of-3">-->
<!--                            <input type="text" name="Telefon" class="form__input" placeholder="Telefon" required>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="row">-->
<!--                        <div class="col-1-of-1">-->
<!--                            <textarea name="Mesaj" class="form__textarea" id="" rows="10" placeholder="Mesajul tau ..."></textarea>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="form__submit&#45;&#45;middle">-->
<!--                        <button class="form__submit">Trimite</button>-->
<!--                    </div>-->

<!--                </div>-->
<!--                </form>-->


            </div>
        </section>


        <section class="portofolio" id="clienti">
            <div class="portofolio__center">
            <h1 class="portofolio__title letter-height">
                clientii nostri
            </h1>
            <div class="row">
                <div class="col-1-of-3">
                    <p class="portofolio__paragraph">sc unilab sa</p>
                    <p class="portofolio__paragraph">sc signum service</p>
                    <p class="portofolio__paragraph">sc florims impex srl</p>
                    <p class="portofolio__paragraph">sc ax perretuum impex srl</p>
                    <p class="portofolio__paragraph">sc cavar l&i impex srl</p>
                    <p class="portofolio__paragraph">sc gip em ecpert srl</p>
                </div>
                <div class="col-1-of-3">
                    <p class="portofolio__paragraph">sc medical cleaning srl</p>
                    <p class="portofolio__paragraph">sc health services company srl</p>
                    <p class="portofolio__paragraph">automotive trading services srl</p>
                    <p class="portofolio__paragraph">sc german trend srl</p>
                    <p class="portofolio__paragraph">sc eurocas tehnica alimentara srl</p>
                    <p class="portofolio__paragraph">sc mantero comimpex srl</p>
                </div>
                <div class="col-1-of-3">
                    <p class="portofolio__paragraph">sc hexi pharma co srl</p>
                    <p class="portofolio__paragraph">sc geso flooring srl</p>
                    <p class="portofolio__paragraph">sc solexpert srl</p>
                    <p class="portofolio__paragraph">sc margarita srl</p>
                    <p class="portofolio__paragraph">inform lykos sa</p>
                    <p class="portofolio__paragraph">sc imobiliare srl</p>
                </div>
            </div>
        </div>
        </section>

        <footer class="footer">
            <div class="footer__center">
            <h1 class="footer__title">
                Hidro Pro 
            </h1> 
            <p class="footer__paragraph">Str. Miorita Nr. 11, Ilfov</p>
            <p class="footer__paragraph">0734078162</p>
            <p class="footer__paragraph">maruntis.adrian@yahoo.ro</p>
            <p class="footer__paragraph">S.C. Professional Waterprooting S.R.L.</p>
        </div>
            <img src="/img/top.png" alt="Hidroizolatii pro, servicii de cea mai buna calitate de la hidropro"  class="top" id="top"> 
        </footer>

    
        <script src="/js/servicii.js"></script>
        <script src="/js/nav.js"></script>
        <script src="/js/slide.js"></script>
    </body>
</html>