

<h1>Post page</h1>

<form action="/" method="POST">

    <div class="form__input">
            <input type="text" name="meta" placeholder="meta">
    </div>
    <div class="form__input">
            <input type="text" name="title" placeholder="title">
    </div>
    <div class="form__input">
            <input type="text" name="pagetitle" placeholder="pagetitle">
    </div>
    <div class="form__input">
            <input type="text" name="heroimage" placeholder="heroimage">
    </div>
    <div class="form__input">
            <input type="text" name="heroimagemeta" placeholder="heroimagemeta">
    </div>
    <div class="form__input">
            <input type="text" name="img1" placeholder="img1">
    </div>
    <div class="form__input">
            <input type="text" name="img1meta" placeholder="img1meta">
    </div>
    <div class="form__input">
            <input type="text" name="img2" placeholder="img2">
    </div>     
    <div class="form__input">
            <input type="text" name="img2meta" placeholder="img2meta"> 
    </div>  







<textarea type="text" name="description" placeholder="description"></textarea>
<button>Submit</button>
</form>