@import '../../assets/style/index'

.componentSlot
    width: 100%
    min-height: 100vh

    padding: 50px 0

    display: flex
    justify-content: center
    align-items: center

    position: relative

    overflow: hidden

    //background-color: rgba(yellow, .3)


    &__container
        width: $max_width
        height: auto

        margin: 0 auto

        //background-color: red

