$primary: #FFC200;
$dark-grey: #232526;
$darkish-grey: #414345;
$grey: #ededed;

//basic
$white: #fff;
$black: #141414;

$blue: #26495A;
$blue-second: #252728;

$dark-blue: #082d3f;

//Grid 
$grid-width: 90%;
$gutter-vertical: 1rem; 
$gutter-horizontal: 4rem;  

