@import '../../../assets/style/index'

.box
    width: 100%
    height: auto

.boxTitle
    padding-bottom: 1.5rem

.boxOption
    > p
        cursor: pointer
        padding-top: 1rem

        &:nth-child(1)
            padding-top: 0

        &:hover
            text-decoration: underline