.box
    margin-top: .25rem

    display: flex
    justify-content: flex-start

.boxSale
    > p
        &:nth-child(1)
            text-decoration: line-through
        &:nth-child(2)
            color: red
            margin-left: 1rem