<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index, follow">
    <meta name="description" content="AforC | Demo presentation about our vision of a cruise ship | Web design and web development business">
    <link rel="stylesheet" href="/css/cruise/style.css">
    <title>Demo Presentation | Cruise</title>
</head>
<body>
    <section class="cruise">
       <div class="cruise__item cruise__item--1">
           <img src="/img/cruise/cruise.png" alt="Web design cruise ship | AforC" class="cruise__img">
           <div class="cruise__item--1-box">
            <video id="vid" class="cruise__video" preload="auto" autoplay="true" loop="loop">
                <source src="/img/cruise/cruise.mp4" type="video/mp4">  
            </video> 
            <img src="/img/cruise/logo.png" alt="" class="cruise__logo">
            <img src="/img/cruise/text.png" alt="" class="cruise__text">
            <p class="cruise__button">
                FIND OUT MORE
            </p>
            <svg class="cruise__icon cruise__icon--1" viewBox="0 0 49.652 49.652">
                <use xlink:href="/img/cruise/facebook.svg#facebook"></use>
            </svg>
            <svg class="cruise__icon cruise__icon--2" viewBox="0 0 49.652 49.652">
                <use xlink:href="/img/cruise/twitter.svg#twitter"></use>
            </svg>
            <svg class="cruise__icon cruise__icon--3" viewBox="0 0 49.652 49.652">
                <use xlink:href="/img/cruise/instagram.svg#instagram"></use>
            </svg>
           </div>
       </div>
    </section>
</body>
</html> 