<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web design and web development business">
    <meta name="robots" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Home | A for C</title>
    <link rel="shortcut icon" type="image/png" href="img/home/bar.png"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Forum|Roboto:100,300,400,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.0/tilt.jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129532815-1"></script>

    <!-- Cookie -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
    
    </script>

</head>
<body>
    <header class="header relative" id="Top">
        <div class="header__item header__item--1 relative">
            <a href="/home">
                <svg class="hero__logo pointer absolute svg--white" viewBox="0 0 144 144" id="logo-2">
                    <use xlink:href="img/home/AforC-sm.svg#AforC-sm"></use>
                </svg>
            </a>
        </div>
        <div class="header__item header__item--2 relative">
            <svg class="hero__menu absolute pointer svg--white" viewBox="0 0 512 512" id="menu-2">
                <use xlink:href="img/home/menu.svg#menu"></use>
            </svg>
        </div>
        <div class="header__item header__item--3">
            <a href="/home" class="header__link header--active">Home</a>
            <a href="/about-us" class="header__link">About Us</a>
            <a href="/services" class="header__link">Services</a>
            <a href="/home#portofolio" class="header__link">Portofolio</a>
            <a href="/about-us#contact" class="header__link">Contact</a>
        </div>
    </header>
    
    
    <section class="hero relative">
        <div class="hero__item hero__item--0 relative">
            <p class="hero__text hero__text--1 absolute">
                HELLO
            </p>
            <p class="hero__text hero__text--2 absolute">
                STRANGER
            </p>
            <img src="img/home/hero-1.jpg" alt="AforC web agency hero background" class="hero__background absolute">
        </div>

        <div class="hero__item hero__item--1 relative">
            <a href="/home">
                <svg class="hero__logo pointer absolute" viewBox="0 0 144 144" id="logo">
                    <use xlink:href="img/home/AforC-sm.svg#AforC-sm"></use>
                </svg>
            </a>
        </div>
        <div class="hero__item hero__item--2 relative">
            <svg class="hero__menu absolute pointer" viewBox="0 0 512 512" id="menu">
                <use xlink:href="img/home/menu.svg#menu"></use>
            </svg>
        </div>
        <div class="hero__item hero__item--3">
            <div class="hero__item--3-box pointer" id="scroll">
                <p class="hero__paragraph">
                        Don't be afraid to scroll down
                    </p>
                <svg class="hero__scroll relative" viewBox="0 0 59.414 59.414">
                    <use xlink:href="img/home/down-arrow.svg#down-arrow"></use>
                </svg>
            </div>
            
        </div>
        <div class="hero__item hero__item--4"></div>
    </section>

    <section class="about relative">
        <div class="trigger trigger--upper absolute" id="aboutTrigger"></div>
        <div class="trigger trigger--lower absolute" id="aboutTriggerLower"></div>
        <div class="about__item about__item--1 relative">
            <svg class="about__bars" viewBox="0 0 140.5 88.2">
                <use xlink:href="img/home/AforC-Bars-black.svg#AforC-Bars-black"></use>
            </svg>
            <h1 class="about__title absolute"> 
                ABOUT US
            </h1>
            <div class="about__item--1-box absolute" >
                <img src="img/home/about-us.png" alt="AforC design agency paint" class="about__paint relative" id="paint">
            </div>
        </div>
        <div class="about__item about__item--2 text--center">
            <p class="about__paragraph paragraph">
                Hello again,
            </p> 
            <p class="about__paragraph paragraph">we are a company of web development,</p>
            <p class="about__paragraph paragraph">localised for now in Bucharest, Romania.</p>
            <p class="about__paragraph paragraph">We are here so we can grow together </p>
            <p class="about__paragraph paragraph">the business that you desire.</p>
        </div>
        <div class="about__item about__item--3 relative">
            <img src="img/home/paintdrop.png" alt="AforC web design and development agency" class="about__paintdrop about__paintdrop--1 absolute" id="paintdrop">
            <img src="img/home/paintdrop-sm.png" alt="AforC web development and design agency" class="about__paintdrop about__paintdrop--2 absolute" id="paintdrop">
            <a href="/about-us" class="about__link more--link" id="paintdropStart">READ MORE...</a>
        </div>
    </section>

   
    <div class="services relative">
        <div class="trigger trigger--upper absolute" id="servicesTrigger"></div>
        <div class="services__item services__item--1">
            <div class="services__item services__item--1 relative">
                <svg class="services__bars" viewBox="0 0 140.5 88.2">
                    <use xlink:href="img/home/AforC-Bars-black.svg#AforC-Bars-black"></use>
                </svg>
                <h1 class="services__title absolute"> 
                    SERVICES
                </h1>
                <div class="services__item--1-box absolute" >
                    <img src="img/home/services.png" alt="AforC design for web agency" class="services__paint relative" id="paint-2">
                </div>
            </div>
        </div>
        <div class="services__item services__item--2 relative">
            <img src="img/home/waterdrop.png" alt="AforC waterdorp design" class="services__waterdrop services__waterdrop--1 absolute">
            <img src="img/home/waterdrop-sm.png" alt="AforC waterdorps design" class="services__waterdrop services__waterdrop--2 absolute">
            <img src="img/home/waterdrop-smst.png" alt="AforC small waterdorp design" class="services__waterdrop services__waterdrop--3 absolute">
            <h1 class="services__heading">
                Every business should have their own style , so they can share their story 
            </h1>
            <h1 class="services__heading">
                the best way possible.
            </h1>
            <h1 class="services__heading">
                That's why we made your website custom, from zero.
            </h1>
        </div>
    </div>

    <section class="services-extra">
        <div class="services-extra__item services-extra__item--1" id="servicesActive">
            <div class="services-extra__item--1-box relative" >
                <svg id="designIcon" class="services-extra__animation absolute over" viewBox="0 0 82.7 112.5">
                    <use xlink:href="img/home/design.svg#design"></use>
                </svg>
                <h3 class="services-extra__title absolute under" id="design">
                    DESIGN
                </h3>
            </div> 
            <div class="services-extra__text text--center">
                <p class="services-extra__paragraph"><span class="services-extra__paragraph-big">Web design</span> for Start-Up</p> 
                <p class="services-extra__paragraph">
                    Re-design
                </p> 
                <p class="services-extra__paragraph">
                    Responsive design
                </p>
                <p class="services-extra__paragraph">
                    Logo design
                </p>
                <p class="services-extra__paragraph">
                    Branding design
                </p>
            </div>
        </div>
        <div class="services-extra__item services-extra__item--2" id="servicesActive2">
            <div class="services-extra__item--1-box relative" id="servicesActive">
                <svg id="programmingIcon" class="services-extra__animation absolute over" viewBox="0 0 114.8 85.3">
                    <use xlink:href="img/home/programming.svg#programming"></use>
                </svg>
                <h3 class="services-extra__title absolute under" id="programming">
                    PROGRAMMING
                </h3>
            </div> 
            <div class="services-extra__text text--center">
                <p class="services-extra__paragraph">
                    Front end
                </p>
                <p class="services-extra__paragraph">
                    Back end
                </p>
                <p class="services-extra__paragraph">
                    Speed Optimize
                </p>
                <p class="services-extra__paragraph">
                    Hosting 
                </p>
                <p class="services-extra__paragraph">
                    SSL certificate
                </p>
                <p class="services-extra__paragraph">
                    GPDR
                </p>
            </div>
        </div>
        <div class="services-extra__item services-extra__item--3" id="servicesActive3">
            <div class="services-extra__item--1-box relative" id="servicesActive">
                <svg id="marketingIcon" class="services-extra__animation absolute over" viewBox="0 0 114.8 85.3">
                    <use xlink:href="img/home/marketing.svg#marketing"></use>
                </svg>
                <h3 class="services-extra__title absolute under" id="marketing">
                    MARKETING
                </h3>
            </div> 
            <div class="services-extra__text text--center">
                <p class="services-extra__paragraph">
                    SEO
                </p>
                <p class="services-extra__paragraph">
                    Google Business
                </p>
                <p class="services-extra__paragraph">
                    Google Analytics
                </p>
                <p class="services-extra__paragraph">
                    SMM consultation
                </p>
                <p class="services-extra__paragraph">
                    Personalised Email
                </p>
            </div>
        </div>
        <div class="services-extra__item services-extra__item--4 relative">
            <a href="/services" class="services-extra__link more--link" id="paintdropStart">
                FIND OUT MORE ABOUT WHAT WE CAN HELP YOU WITH...
            </a>
        </div>
    </section>

    <section class="category relative" id="portofolio">
        <div class="trigger trigger--upper absolute" id="categoryTrigger"></div>
        <div class="category__item category__item--1 relative">
            <svg class="category__bars" viewBox="0 0 140.5 88.2">
                <use xlink:href="img/home/AforC-Bars-black.svg#AforC-Bars-black"></use>
            </svg>
            <h1 class="category__title absolute"> 
                PORTOFOLIO
            </h1>
            <div class="category__item--1-box absolute" >
                <img src="img/home/portofolio.png" alt="AforC design" class="category__paint relative" id="paint-3">
            </div>
        </div>
    </section>

    <section class="portofolio-grid">
        <!-- LAPTOPS ARE AT 5250 / TABLETS ARE AT 4250 -->
        <a href="https://raumgang.com/users" class="portofolio-grid__item portofolio-grid__item--1">
            <img data-tilt src="img/home/laptop-1.png" alt="AforC portofolio" class="portofolio-grid__img" id="portofolio1">
        </a>
        <a href="https://hidropro.ro" class="portofolio-grid__item portofolio-grid__item--2 ">
            <img data-tilt src="img/home/tableta-1.png" alt="AforC project" class="portofolio-grid__img" id="portofolio2">
        </a>
        <a href="presentation/fashion" class="portofolio-grid__item portofolio-grid__item--3 ">
            <img data-tilt src="img/home/tableta-2.png" alt="AforC design project" class="portofolio-grid__img" id="portofolio3">
        </a>
        <a href="/presentation/restaurant" class="portofolio-grid__item portofolio-grid__item--4 ">
            <img data-tilt src="img/home/laptop-3.png" alt="AforC design and development project" class="portofolio-grid__img" id="portofolio4">
        </a>
        <a href="/presentation/nova" class="portofolio-grid__item portofolio-grid__item--5 ">
            <img data-tilt src="img/home/laptop-2.png" alt="AforC development project" class="portofolio-grid__img" id="portofolio5">
        </a>
        <a href="/presentation/cruise" class="portofolio-grid__item portofolio-grid__item--6 ">
            <img data-tilt src="img/home/tableta-3.png" alt="AforC projects" class="portofolio-grid__img" id="portofolio6">
        </a>
    </section>

    <section class="chat relative">
        <div class="trigger trigger--upper absolute" id="paintBrushTrigger"></div>
        <div class="chat__item chat__item--1 relative">
                <img src="img/home/animation.gif" alt="AforC design gif" class="chat__gif chat__animation--gif relative">
                <img src="img/home/animation.png" alt="AforC design web services" class="chat__img chat__animation--paint absolute" id="paintGone">
        </div>
        <div class="chat__item chat__item--2">
            <div class="chat__content text--center">
                <h1 class="chat__title">
                    NOTE FOR YOU
                </h1>
                <p class="chat__paragraph">
                    We truly believe the client is the center of the company,
                </p>
                <p class="chat__paragraph">
                    for that reason, we want to offer 
                </p>
                <p class="chat__paragraph">
                    the <span id="visibility">visibility</span> that your business deserves
                </p>
                <p class="chat__paragraph">
                    in the online world for a new modern and interactive experience.
                </p>
            </div>

            <a href="mailto:webdevelopment@aforc.ro" class="chat__paint-box relative"> 
                <div class="paintbrush--box absolute" id="paintBrush">
                    <svg id="paintBrush" class="paintbrush" viewBox="0 0 111 54.4">
                        <use  xlink:href="img/home/paintbrush.svg#paintbrush"></use>
                    </svg> 
                </div>
                <div class="chat__paint-box--paint text--center">
                    <h3 class="chat__title-secondary">
                        LET'S MEET UP FOR A COFFEE OR CHAT WITH US ON EMAIL
                    </h3>
                </div>
                <div class="chat__paint-box--paint text--center">
                    <h3 class="chat__title-secondary">
                        WE CAN NOT WAIT TO HEAR YOUR IDEAS
                    </h3>
                </div> 
            </a>
        </div>
        

    </section>

    <section class="brand relative" id="brand">
        <div class="trigger trigger--upper absolute" id="brandStart"></div>
        <div class="brand__item brand__item--1 relative">
            <div class="brand__text absolute" id="text"></div> 
            <svg class="brand__bars absolute" viewBox="0 0 138.2 63">
                <use xlink:href="img/home/AforCBRAND.svg#AforCBRAND"></use>
            </svg>
            <h1 class="brand__title absolute">
                Design CO
            </h1>
        </div>
        <div class="brand__item brand__item--2 relative">
            <img src="img/home/hero-2.jpg" alt="AforC branding services" class="brand__background absolute">
        </div>
    </section>

    <footer class="footer">
        <div class="footer__item footer__item--1">
            <p class="footer__paragraph">
                email: webdvelopment@aforc.ro
            </p>
            <p class="footer__paragraph">
            contact-number: +4 0727223737
        </p>
        <p class="footer__paragraph">
            contact-number: +4 0728679837
        </p>
        </div>
        <div class="footer__item footer__item--2 relative text--center">
        <p class="footer__paragraph">
            &copy; A for C 2019 | All right reserved
        </p>
        </div>
        <div class="footer__item footer__item--3 relative">
            <p class="footer__title">
                FOLLOW US
            </p>
            <div class="footer__item footer__item--3-social">
                <a href="https://www.facebook.com/aforcdevelopment">
                    <svg class="footer__icon" viewBox="0 0 159.822 159.822"> 
                        <use xlink:href="img/us/facebook.svg#facebook"></use>
                    </svg>
                </a>
                <a href="https://www.linkedin.com/company/aforc">
                    <svg class="footer__icon" viewBox="0 0 152.216 152.216">
                        <use xlink:href="img/us/linkedin.svg#linkedin"></use>
                    </svg>
                </a>
                <a href="https://ro.pinterest.com/aforcdesign/">
                    <svg class="footer__icon" viewBox="0 0 186.844 186.844">
                        <use xlink:href="img/us/pinterest.svg#pinterest"></use>
                    </svg>
                </a>
                <a href="https://www.instagram.com/aforcdesign/?hl=en">
                    <svg class="footer__icon" viewBox="0 0 169.063 169.063">
                        <use xlink:href="img/us/instagram.svg#instagram"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="footer__item footer__item--4 relative">
            <img src="img/home/up.png" alt="AforC contact" id="Up" class="footer__up absolute">
        </div>
    </footer>
    <script src="js/app.js"></script>
    <script src="js/af/text/data.json"></script>
    <script src="js/af/text/lottie.js"></script>
    <script src="js/af/text/app.js"></script>
</body>
</html>