<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Services | AforC | Web design and web development business">
    <link rel="stylesheet" href="css/style.css">
    <title>Services | A for C</title>
    <link rel="shortcut icon" type="image/png" href="img/home/bar.png"/>
    <link href="https://fonts.googleapis.com/css?family=Forum|Roboto:100,300,400,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <header class="header relative">
        <div class="header__item header__item--1 relative">
            <a href="/home">
                <svg class="hero__logo pointer absolute svg--white" viewBox="0 0 144 144" id="logo-2">
                    <use xlink:href="img/home/AforC-sm.svg#AforC-sm"></use>
                </svg>
            </a>
        </div>
        <div class="header__item header__item--2 relative">
            <svg class="hero__menu absolute pointer svg--white" viewBox="0 0 512 512" id="menu-2">
                <use xlink:href="img/home/menu.svg#menu"></use>
            </svg>
        </div>
        <div class="header__item header__item--3">
            <a href="/home" class="header__link">Home</a>
            <a href="/about-us" class="header__link">About Us</a>
            <a href="/services" class="header__link header--active">Services</a>
            <a href="/home#portofolio" class="header__link">Portofolio</a>
            <a href="/about-us#contact" class="header__link">Contact</a>
        </div>
    </header>
<section class="pg-services">
    <div class="pg-services__item pg-services__item--1 relative">
        <div class="pg-services__bubbles absolute" id="bubbles"></div>
        <div class="pg-services__bubble absolute" id="reverse"></div>
    </div>
    <div class="pg-services__item pg-services__item--2 relative">
        <a href="/home">
            <svg class="hero__logo pointer absolute" viewBox="0 0 144 144" id="logo">
                <use xlink:href="img/home/AforC-sm.svg#AforC-sm"></use>
            </svg>
        </a>
    </div>
    <div class="pg-services__item pg-services__item--3 relative">
        <svg class="hero__menu absolute pointer" viewBox="0 0 512 512" id="menu">
            <use xlink:href="img/home/menu.svg#menu"></use>
        </svg>
    </div>
</section>
<section class="pg-services-design relative">
    
    <div class="pg-services-design__item pg-services-design__item--1 relative">
        <img src="img/us/web-design.jpg" alt="AforC web design" class="pg-services-design__img absolute">
        <h1 class="pg-services-design__img--title">
            WEB DESIGN 
        </h1>
    </div>
    <div class="pg-services-design__item pg-services-design__item--2 relative text--center">
        <p class="pg-services-design__paragraph">
            No matter if you got a brand new business or you want to rebrand it,
        </p>
        <p class="pg-services-design__paragraph">
            we build the message interface that you want to spread to your clients.
        </p>
        <!-- <p class="pg-services-design__paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum alias atque ipsum!
        </p>
        <p class="pg-services-design__paragraph">
            Dolor sit amet consectetur adipisicing elit. Illum alias atque ipsum!
        </p> -->
    </div>
    <div class="pg-services-design__item pg-services-design__item--3 relative">
        <div class="pg-services-design__item--3-box">
            <svg class="pg-services-design__icon" viewBox="0 0 56 56">
                <use xlink:href="img/us/web-app.svg#web-app"></use>
            </svg>
            <h1 class="pg-services-design__title">
                web
            </h1>
            <h1 class="pg-services-design__title">
                application
            </h1>
        </div>
        <div class="pg-services-design__item--3-box">
            <svg class="pg-services-design__icon" viewBox="0 0 294.843 294.843">
                <use xlink:href="img/us/web-shop.svg#web-shop"></use>
            </svg>
            <h1 class="pg-services-design__title">
                online
            </h1>
            <h1 class="pg-services-design__title">
                shop
            </h1>
        </div>
        <div class="pg-services-design__item--3-box">
            <svg class="pg-services-design__icon" viewBox="0 0 60 60">
                <use xlink:href="img/us/web-presentation.svg#web-presentation"></use>
            </svg>
            <h1 class="pg-services-design__title">
                web
            </h1>
            <h1 class="pg-services-design__title">
                presentation
            </h1>
        </div>
    </div>
    <div class="pg-services-design__item pg-services-design__item--4 relative">
        <div class="pg-services-design__item--3-box">
            <svg class="pg-services-design__icon" viewBox="0 0 511.998 511.998">
                <use xlink:href="img/us/responsive-design.svg#responsive-design"></use>
            </svg>
            <h1 class="pg-services-design__title">
                responsive
            </h1>
            <h1 class="pg-services-design__title">
                design
            </h1>
        </div>
        <div class="pg-services-design__item--3-box">
            <svg class="pg-services-design__icon" viewBox="0 0 512 512">
                <use xlink:href="img/us/blog.svg#blog"></use>
            </svg>
            <h1 class="pg-services-design__title">
                blog
            </h1>
        </div>
    </div>
</section>
<section class="pg-services-branding">
    <div class="pg-services-branding__item pg-services-branding__item--1 relative">
        <img src="img/us/branding.png" alt="AforC branding" class="pg-services-branding__img">
        <h1 class="pg-services-branding__img--title">
            BRANDING
        </h1>
    </div>
    <div class="pg-services-branding__item pg-services-branding__item--2 relative">
        <p class="pg-services-design__paragraph">
            Your brand identity is important for growing a 
        <!-- </p>
        <p class="pg-services-design__paragraph"> -->
            successful business because is 
        <!-- </p>
        <p class="pg-services-design__paragraph"> -->
            the first impact you make on your clients.
        </p>
        <p class="pg-services-design__paragraph">
            When we talk about branding is so much more than just a logo,
        <!-- </p>
        <p class="pg-services-design__paragraph"> -->
            more precisely is a mix of colours, fonts and emotions, 
        <!-- </p>
        <p class="pg-services-design__paragraph"> -->
            together we create a value, story and goal of your company.
        </p>
        <p class="pg-services-design__paragraph">
            We make sure your brand is suitable for what
        <!-- </p>
        <p class="pg-services-design__paragraph"> -->
            you want to share with your clients
        <!-- </p>
        <p class="pg-services-design__paragraph"> -->
            and most important professional and memorable. 
        </p>
    </div>
    <div class="pg-services-branding__item pg-services-branding__item--3">
        <div class="pg-services-branding__item--3-box">
            <div class="pg-services-branding__box">
                <div id="checkbox" class="pg-services-branding__checkbox"></div>
            </div>
            <h1 class="pg-services-branding__title" id="checkboxStart">
                logo design
            </h1>
        </div>
        <div class="pg-services-branding__item--3-box">
            <div class="pg-services-branding__box">
                <div id="checkbox2" class="pg-services-branding__checkbox"></div>
            </div>
            <h1 class="pg-services-branding__title" id="checkboxStart2">
                business card
            </h1>
        </div>
        <div class="pg-services-branding__item--3-box">
            <div class="pg-services-branding__box">
                <div id="checkbox3" class="pg-services-branding__checkbox"></div>
            </div>
            <div id="open">
                <h1 class="pg-services-branding__title" id="checkboxStart3">
                    branding design
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="pg-services-develop">
    <div class="pg-services-develop__item pg-services-develop__item--1 relative">
        <img src="img/us/develop.png" alt="AforC web development" class="pg-services-develop__img">
        <h1 class="pg-services-develop__img--title absolute">
            PROGRAMMING
        </h1>
    </div>
    <div class="pg-services-develop__item pg-services-develop__item--2">
        <div class="pg-services-develop__item--2-box text--center">
            <h1 class="pg-services-develop__title">
                Front end 
            </h1>
            <p class="pg-services-develop__paragraph">
                Translates the design into code.
            </p>
        </div>
        <div class="pg-services-develop__item--2-box text--center">
            <h1 class="pg-services-develop__title">
                Back end 
            </h1>
            <p class="pg-services-develop__paragraph">
                Makes the idea
            </p>
            <p class="pg-services-develop__paragraph">
                work
            </p>
        </div>
    </div>
    <div class="pg-services-develop__item pg-services-develop__item--3">
        <div class="pg-services-develop__item--2-box text--center">
            <h1 class="pg-services-develop__title">
                Seo
            </h1>
            <p class="pg-services-develop__paragraph">
                Friendly content for
            </p>
            <p class="pg-services-develop__paragraph">
                search engines
            </p>
        </div>
        <div class="pg-services-develop__item--2-box text--center">
            <h1 class="pg-services-develop__title">
                Ssl certificate
            </h1>
            <p class="pg-services-develop__paragraph">
                Secured website for
            </p>
            <p class="pg-services-develop__paragraph">
                clients
            </p>
        </div>
    </div>
    <div class="pg-services-develop__item pg-services-develop__item--4">
        <div class="pg-services-develop__item--2-box text--center">
            <h1 class="pg-services-develop__title">
               ssd Hosting
            </h1>
            <p class="pg-services-develop__paragraph">
                Fast website for 
            </p>
            <p class="pg-services-develop__paragraph">
                everybody
            </p>
        </div>
        <div class="pg-services-develop__item--2-box text--center">
            <h1 class="pg-services-develop__title">
                Cloud storage
            </h1>
            <p class="pg-services-develop__paragraph">
                For photos and 
            </p>
            <p class="pg-services-develop__paragraph">
                videos
            </p>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer__item footer__item--1">
        <p class="footer__paragraph">
            email: webdvelopment@aforc.ro
        </p>
        <p class="footer__paragraph">
        contact-number: +4 0727223737
    </p>
    <p class="footer__paragraph">
        contact-number: +4 0728679837
    </p>
    </div>
    <div class="footer__item footer__item--2 relative text--center">
    <p class="footer__paragraph">
        &copy; A for C 2019 | All right reserved
    </p>
    </div>
    <div class="footer__item footer__item--3 relative">
        <p class="footer__title">
            FOLLOW US
        </p>
        <div class="footer__item--3-social">
            <a href="https://www.facebook.com/aforcdevelopment">
                <svg class="footer__icon" viewBox="0 0 159.822 159.822"> 
                    <use xlink:href="img/us/facebook.svg#facebook"></use>
                </svg>
            </a>
            <a href="https://www.linkedin.com/company/aforc">
                <svg class="footer__icon" viewBox="0 0 152.216 152.216">
                    <use xlink:href="img/us/linkedin.svg#linkedin"></use>
                </svg>
            </a>          
            <a href="https://ro.pinterest.com/aforcdesign/">
                <svg class="footer__icon" viewBox="0 0 186.844 186.844">
                    <use xlink:href="img/us/pinterest.svg#pinterest"></use>
                </svg>
            </a>
            <a href="https://www.instagram.com/aforcdesign/?hl=en">
                <svg class="footer__icon" viewBox="0 0 169.063 169.063">
                    <use xlink:href="img/us/instagram.svg#instagram"></use>
                </svg>
            </a>
        </div>
    </div>
</footer>

<section class="pg-services-popup" id="popup">
    <div class="pg-services-popup__item pg-services-popup__item--1">
         <img src="img/us/brand-presentation.png" alt="AforC brand presentation" class="pg-services-popup__img">
    </div>
    <div class="pg-services-popup__item pg-services-popup__item--2">
        <svg class="pg-services-popup__icon" viewBox="0 0 224.512 224.512" id="close">
            <use xlink:href="img/us/close.svg#close"></use>
        </svg>
    </div>
</section>

    <script src="js/af/bubbles/lottie.js"></script>
    <script src="js/af/bubbles/services.js"></script>
    <script src="js/af/text/lottie.js"></script>
    <script src="js/af/text/services.js"></script>
    <script src="js/menu.js"></script>
</body>
</html>