@import '../../assets/style/index'

.star
    cursor: pointer
    color: $grey
    user-select: none
    line-height: 2.5rem


.starActive
    color: $skin


.starLast
    background: linear-gradient(to right, $skin 50%, $grey 50%)
    -webkit-text-fill-color: transparent
    -webkit-background-clip: text