*,
*::after,
*::before
    margin: 0
    padding: 0
    box-sizing: inherit


html
    font-size: 62.5%
    overflow-x: hidden
    font-family: $font-main
    scroll-behavior: smooth

.hide
    display: none



body
    font-weight: 400
    /* font-size: 16px */
    line-height: 1.7
    color: #777
    overflow-x: hidden
    box-sizing: border-box
    background-color: $white

span,
textarea,
input
    font-family: $font-main

// Typography
a
    letter-spacing: 1px
    font-weight: 300


a,
a:link,
a:active
    text-decoration: none
    z-index: 500


ul, li
    list-style: none
    letter-spacing: 1px

h1, h2, h3
    font-weight: 400
    letter-spacing: 5px

