@import "../../../assets/style/index"

.box
    width: 100%
    height: auto

.boxTitle
    margin-bottom: 5rem

.boxProducts
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 12.5%