.input
    $padding-side: 1.5rem
    $radius: .5rem

    height: 5rem
    font-family: $font-main
    font-size: 1.6rem
    padding: 0 $padding-side
    outline: none
    border: .2rem solid $grey
    border-radius: $radius
    background-color: $white

    &:focus
        border: .2 solid $gold


    &--testSize
        height: 30rem
        width: 40rem


.label
    font-family: $font-main
    color: $black
    font-size: 1.5rem
    font-weight: 400
