.textarea
    $padding: 15px
    $radius: 5px

    width: 300px
    height: 100px
    font-family: $font-main
    font-size: 16px
    padding: $padding
    outline: none
    border: 2px solid $grey
    border-radius: $radius
    background-color: $white

    resize: vertical

    &:focus
        border: 2px solid $gold

    &--testSize
        height: 300px
        width: 400px
