@import '../../../../../assets/style/index'

.box
    width: 100%
    height: auto

.boxBanner
    background-color: $skin_dark
    padding: 1.25rem 2rem

.boxItems
    padding-top: 1.25rem

.boxItem
    margin-top: 1.25rem
    &:nth-child(1)
        margin-top: 0