<footer class="footer">
        <div class="footer__center">
        <h1 class="footer__title">
            Hidro Pro 
        </h1>
        <p class="footer__paragraph">Str. Miorita Nr. 11, Ilfov</p>
        <p class="footer__paragraph">0734078162</p>
        <p class="footer__paragraph">maruntis.adrian@yahoo.ro</p>
    </div>

</footer>