@import '../../../../assets/style/index'

$productbox_margin: 100px
$productbox_width: calc(#{$standard_max_width} / 3 - (#{$productbox_margin} / 2))
$productbox_height: calc(#{$productbox_width} * 1.4)


.box
    width: 100%
    height: auto

    display: grid
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr))
    grid-column-gap: 7.5%

    > div
        width: 100%
        height: auto

    @include md
        padding: 0 1rem

