@import '../../assets/style/index'

.box
    width: 100%
    height: auto

.boxTitle
    width: 100%
    text-align: center
    margin-bottom: 5rem

.boxActions
    display: grid
    grid-template-columns: repeat(2, 1fr)

    grid-gap: 10%