// Fonts
@font-face
    font-family: 'OpenSans'
    src: url('../fonts/Domine/DomineRegular.ttf') format("truetype")

@font-face
    font-family: 'OpenSans'
    src: url('../fonts/Domine/DomineBold.ttf') format("truetype")
    font-weight: 700


$font: 'OpenSans'


//Colors
$black: #000000
$white: #ffffff
$grey: #e7e7e7
$orange: #FF4107
$blue: #1D2467

// Width
$max_width: 1100px

// Radius
$radius: .5rem